<div class="the-big-news-post">
    <h4>Welcome to Universalis!</h4>
    <p>
        Universalis is a new market board data site with crowd sourced information, based on mogboard.
        It can aggregate market board information from multiple sources, so if you want to help out,
        please check out our contributing page.
    </p>
    <p>
        Thank you, and enjoy your stay!
    </P>

    <a href="{{ path('news_index') }}/universalis_launch">
        Read the full introduction
    </a>

</div>

