{#
<div class="the-big-news-post">
    <h4>Thank you for being awesome!</h4>
    <p>
        Everyone who has supported Mogboard and helped it grow, you guys
        the best. Todays update brings a huge performance boost, better
        graphs and some minor fixes. This will be the last update until
        after ShadowBringers
    </p>

    <a href="{{ path('news_index') }}/thank-you-and-shadow-bringers">
        Read the full news post here
    </a>

</div>
#}
