{#
<div class="the-big-news-post">
    <h4>Thank you for being awesome!</h4>
    <p>
        Everyone who has supported Mogboard and helped it grow, you guys
        the best. Todays update brings a huge performance boost, better
        graphs and some minor fixes. This will be the last update until
        after ShadowBringers
    </p>

    <a href="{{ path('news_index') }}/thank-you-and-shadow-bringers">
        Read the full news post here
    </a>

</div>
#}


<div class="news-update" style="border: solid 3px #ff5757;background-color: transparent">
    <small style="text-align:center;">SUNDAY 4ST AUGUST - IMPORTANT ANNOUNCEMENT</small>

    <div style="border:none;">
        Square-Enix performed a massive ban-wave on the 1st of August which resulted in most of Mogboard accounts
        being banned. Due to their lack of support for community sites and their sheer incompetence to handle their web servers,
        Mogboard will no longer be auto-updating prices and instead the site will be slowly transitioning to a private
        service for Patreon users only. At this time all tiers from patron are sold out until this transition is complete.
    </div>

</div>
#}
