{#
<div class="the-big-news-post">
    <h4>Thank you for being awesome!</h4>
    <p>
        Everyone who has supported Mogboard and helped it grow, you guys
        the best. Todays update brings a huge performance boost, better
        graphs and some minor fixes. This will be the last update until
        after ShadowBringers
    </p>

    <a href="{{ path('news_index') }}/thank-you-and-shadow-bringers">
        Read the full news post here
    </a>

</div>
#}


<div class="news-update">
    <small>NEW UPDATES - MONDAY 22nd JULY</small>

    <div>
        Auto Price/History updating is still in "slow mode". Most items update at least once or twice daily,
        however most are every few days. This is due to Square-Enix running a tight ship on server stability
        and banning Companion accounts that perform too many requests. This will stay in affect until the
        official game servers become more stable. Patreon users can continue to manually update at anytime.
    </div>

</div>
