<div class="alert-default">
    <p>
        Welcome to Mogboard.com
    </p>
    <p>
        This site remains up for existing Patreons to allow them to obtain Prices and History
        of items on many servers. It is not possible to obtain Patreon status to get
        access to the "Update" functionality for the foreseeable future. Only existing
        patreons who have <strong>already paid</strong> will continue to receive what
        they are due. The site is still accessible to anyone.
    </p>

    <hr>

    <p>
        Square-Enix ban accounts who uses their Companion API outside of the mobile app, if you
        want prices, use their official app which you can find here:
        <a href="https://na.finalfantasyxiv.com/companion/">https://na.finalfantasyxiv.com/companion/</a>.
    </p>
    <p>
        Due to these bans, <strong>it is impossible to provide a FREE AUTO-UPDATING service</strong>.
    </p>
    <p>
        Due to these bans, <strong>it is impossible to provide a REAL-TIME UPDATED MARKET FOR EVERYONE.</strong>
    </p>
    <p>
        Due to these bans, there is 1 account left. Patrons have paid a month, they will
        get their monies worth.
    </p>
    <p>
        Due to these bans, the site will be useless for the majority of people as prices will
        not auto-update in the background. This Auto-Updating is classified as "disruptive" and "botting"
        in the FFXIV TOS. The free service you all enjoyed was only available to you by
        breaking the TOS. In the same way Wiki-Sites, Database Sites and other FFXIV tools all
        break the Datamining TOS to provide you free services. They have the fortunate life
        of not getting banned, I do not have that luxury.
    </p>
    <p>
        - Vekien
    </p>
</div>
