/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  background-color: #181818;
  color: #fff;
  text-shadow: 0 1px 2px #000;
  font-size: 16px; }

body {
  overflow-y: scroll; }

main {
  max-width: 1600px;
  margin: 0 auto; }

footer {
  padding: 20px 0 50px 0;
  text-align: center;
  font-size: 13px;
  color: #888;
  line-height: 24px; }

h1 {
  margin-bottom: 20px; }

a {
  color: #ffb4ec;
  text-decoration: none; }
  a:hover {
    color: #ff93e7; }

header {
  display: flex;
  background-color: #28292d;
  height: 50px;
  box-shadow: 0 1px 3px #000;
  position: relative;
  z-index: 1000; }
  header .logo {
    display: flex;
    flex: 0 1 400px;
    position: relative; }
    header .logo a {
      flex: 0 1 90px; }
      header .logo a img {
        margin: -20px 0px 0px 20px;
        transition: .2s; }
        header .logo a img:hover {
          transform: scale(1.1); }
    header .logo div {
      flex: 0 1 calc(100% - 90px);
      font-size: 28px;
      font-weight: 300;
      margin: 12px 0 0 0; }
      header .logo div span {
        color: #fff847;
        font-weight: 600; }
  header .search {
    flex: 0 1 calc(100% - 800px);
    text-align: center;
    position: relative; }
    header .search > div:first-of-type {
      display: inline-block;
      border-left: solid 1px #000;
      border-right: solid 1px #000;
      overflow: hidden; }
      header .search > div:first-of-type > div {
        display: flex; }
    header .search > div:last-of-type {
      width: 800px;
      margin: 0 auto;
      position: relative; }
      header .search > div:last-of-type > div {
        position: absolute;
        right: -1px;
        width: 400px;
        top: -2px; }
    header .search .search-bar input {
      width: 400px;
      font-size: 20px;
      font-weight: 300;
      color: #fff;
      outline: none;
      line-height: 50px;
      padding: 0 15px;
      border: none;
      background-color: #37383c; }
    header .search .search-bar button {
      font-size: 16px;
      font-weight: 300;
      color: #fff;
      outline: none;
      line-height: 50px;
      padding: 0;
      width: 100px;
      border: none;
      background-color: #37383c;
      border-left: solid 1px #000; }
      header .search .search-bar button:hover {
        background-color: #4c4d51;
        cursor: pointer;
        position: relative;
        z-index: 10;
        box-shadow: 0 0 5px #000; }
      header .search .search-bar button.active {
        background-color: #223d7c; }
  header nav {
    flex: 0 1 400px;
    text-align: right; }
    header nav img {
      display: inline-block;
      height: 50px;
      border-radius: 5px;
      box-shadow: 0 0 3px #000;
      vertical-align: middle;
      margin-left: 15px; }
    header nav a {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      outline: none;
      padding: 0 20px;
      line-height: 50px;
      border: none;
      transition: .1s;
      background-color: #222;
      margin-left: 10px; }
      header nav a:hover {
        background-color: #181818;
        cursor: pointer; }
      header nav a.user {
        color: #fff;
        background-color: transparent;
        border: none; }
        header nav a.user:hover {
          color: #ddd749;
          background-color: #222; }
      header nav a.login {
        background-color: #7289DA; }
        header nav a.login:hover {
          color: #fff;
          background-color: #5763ae; }

.categories-list {
  background-color: #444444;
  border: solid 1px #000;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 3px #000;
  overflow: hidden;
  position: relative;
  z-index: 50;
  display: none; }
  .categories-list.open {
    display: block; }
  .categories-list > button {
    display: block;
    width: 100%;
    text-align: left;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: solid 1px #000;
    padding: 0 10px;
    line-height: 38px;
    background-color: transparent;
    font-size: 15px;
    transition: .1s;
    text-shadow: 0 1px 2px #000;
    cursor: pointer; }
    .categories-list > button img {
      vertical-align: middle;
      margin-right: 10px; }
    .categories-list > button:hover, .categories-list > button:focus, .categories-list > button:active {
      background-color: #222; }
    .categories-list > button:last-of-type {
      border-bottom: none; }

.home {
  text-align: center;
  padding: 100px 0; }
  .home h1 {
    font-size: 42px;
    font-weight: 300;
    color: #888;
    display: block; }

.item-category-list {
  max-width: 800px;
  margin: 0 auto 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start; }
  .item-category-list h2 {
    flex: 0 1 100%;
    padding: 10px 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px; }
  .item-category-list a {
    flex: 0 1 calc(50% - 4px);
    align-items: stretch;
    display: flex;
    background-color: #363636;
    border: none;
    border-radius: 5px;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: .2s;
    text-decoration: none;
    position: relative;
    overflow: hidden; }
    .item-category-list a:hover {
      background-color: #282828; }
    .item-category-list a img {
      height: 46px;
      width: 46px;
      margin: -3px 0 0 -3px;
      vertical-align: middle; }
    .item-category-list a:nth-of-type(odd) {
      margin: 0 2px 4px 0; }
    .item-category-list a:nth-of-type(even) {
      margin: 0 0 4px 2px; }
    .item-category-list a span:first-of-type {
      display: block;
      width: 40px;
      height: 40px;
      overflow: hidden;
      box-shadow: 0 1px 3px #000;
      margin-right: 10px; }
    .item-category-list a span:last-of-type {
      color: yellow;
      display: inline-block;
      width: 40px; }
    .item-category-list a.rarity-1 {
      color: #eee; }
    .item-category-list a.rarity-2 {
      color: #89ffbc; }
    .item-category-list a.rarity-3 {
      color: #3dafff; }
    .item-category-list a.rarity-4 {
      color: #f44bff; }
    .item-category-list a.rarity-7 {
      color: #ff7e85; }

.product {
  margin: 30px 0; }
  .product h1 {
    font-size: 32px;
    font-weight: 300; }

