/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  background-image: url("https://raw.githubusercontent.com/viion/marketboard/master/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #ccc;
  font-size: 16px;
  text-shadow: 0 1px 2px #000; }

a {
  color: #ffcafd; }

em {
  font-style: italic; }

main {
  display: flex; }

nav {
  position: relative;
  z-index: 50;
  background-color: #333;
  flex: 0 1 300px;
  padding-bottom: 100px;
  border-right: solid 1px #000;
  box-shadow: 1px 0 5px #000; }
  nav hr {
    background-color: #000;
    height: 1px;
    margin: 0;
    border: none; }
  nav button {
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: #fff;
    text-align: left;
    border-bottom: solid 1px #000;
    font-size: 16px;
    text-shadow: 0 1px 2px #000;
    transition: .1s;
    line-height: 24px;
    outline: none; }
    nav button:hover, nav button:focus, nav button:active, nav button.on {
      background-color: #113d63;
      cursor: pointer; }
    nav button img {
      flex: 0 1 auto;
      vertical-align: middle;
      margin: 2px 10px 0 10px; }
    nav button span {
      flex: 0 1 auto; }
  nav .logo {
    text-align: center;
    padding: 20px 0; }
    nav .logo img {
      height: 80px; }
    nav .logo h1 {
      font-size: 30px;
      font-weight: 700;
      color: #fff; }
      nav .logo h1 span {
        color: yellow; }
  nav .server {
    text-align: center;
    padding: 0 0 20px 0; }
  nav .market-categories div {
    border-bottom: solid 10px #000; }
  nav p {
    margin-bottom: 15px; }

section {
  flex: 0 1 calc(100% - 300px); }
  section .search {
    position: relative;
    z-index: 30;
    box-shadow: 0 1px 3px #000;
    background-color: #333;
    width: 1160px;
    padding: 10px;
    border-radius: 0 0 6px 0; }
    section .search input {
      width: 100%;
      font-size: 20px;
      font-weight: 300;
      color: #f8ffb7;
      outline: none;
      line-height: 48px;
      padding: 0 15px;
      border: solid 1px #000;
      box-shadow: 0 1px 5px #222;
      border-radius: 3px;
      background-color: #515151; }
  section .search-results {
    margin: 0 -10px;
    display: none; }
    section .search-results.on {
      display: block; }
    section .search-results .search-results-info {
      padding: 10px;
      color: #fff;
      font-weight: 400;
      font-size: 16px; }
    section .search-results button {
      position: relative;
      width: 100%;
      display: flex;
      background-color: #181818;
      border: none;
      padding: 10px;
      color: #fff;
      text-align: left;
      border-bottom: solid 1px #000;
      font-size: 16px;
      text-shadow: 0 1px 2px #000;
      transition: .1s;
      line-height: 24px;
      outline: none; }
      section .search-results button:hover, section .search-results button:focus, section .search-results button:active, section .search-results button.on {
        background-color: #113d63;
        cursor: pointer; }
      section .search-results button.rarity-2 {
        color: #89ffbc; }
      section .search-results button.rarity-3 {
        color: #3dafff; }
      section .search-results button.rarity-4 {
        color: #f44bff; }
      section .search-results button.rarity-7 {
        color: #ff7e85; }
      section .search-results button img {
        flex: 0 1 auto;
        vertical-align: middle;
        margin: 0 10px 0 10px;
        height: 24px;
        width: 24px;
        border-radius: 5px; }
      section .search-results button span {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #888;
        text-transform: uppercase;
        font-size: 12px; }
      section .search-results button em {
        color: yellow;
        display: inline-block;
        padding: 0 10px 0 0; }
  section .home {
    box-shadow: 0 1px 3px #000;
    background-color: #151515;
    width: 1080px;
    padding: 60px 50px 50px 50px;
    border-radius: 0 0 6px 0;
    margin-top: -10px;
    display: none;
    font-size: 18px;
    line-height: 24px; }
    section .home .beta {
      padding: 20px;
      border-radius: 5px;
      background-color: #262626;
      margin-bottom: 30px; }
      section .home .beta h4 {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 15px; }
    section .home.on {
      display: flex; }
    section .home > div:first-of-type {
      flex: 0 1 calc(100% - 350px);
      padding-right: 50px; }
    section .home > div:last-of-type {
      flex: 0 1 350px; }
    section .home h1 {
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 20px; }
    section .home h3 {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 20px;
      color: #ed6fff; }
    section .home strong {
      color: #e2ec7a;
      font-weight: 800; }
    section .home p {
      margin-bottom: 20px; }
    section .home hr {
      height: 5px;
      background-color: #1f527a;
      border: none;
      margin: 30px 0; }
    section .home small {
      font-size: 14px;
      color: #666; }
    section .home ul {
      display: block;
      list-style: square inside; }
      section .home ul li {
        margin-left: 30px; }
  section > div.content {
    display: flex; }
    section > div.content > .market-category-stock-ui {
      background-color: #181818;
      border: solid 1px #000;
      border-radius: 0 0 5px 0;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      flex: 0 1 500px;
      padding: 10px 0;
      display: none;
      position: relative;
      overflow: hidden;
      transition: .2s; }
      section > div.content > .market-category-stock-ui.on {
        display: block; }
      section > div.content > .market-category-stock-ui.mini {
        flex: 0 1 80px; }
        section > div.content > .market-category-stock-ui.mini button div:nth-of-type(2) {
          opacity: 0; }
    section > div.content > .item-market-ui {
      background-color: #080808;
      border: solid 1px #000;
      border-radius: 0 0 5px 0;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      flex: 0 1 680px;
      display: none; }
      section > div.content > .item-market-ui.on {
        display: block; }
  section .market-category-stock {
    width: 500px; }
    section .market-category-stock button {
      width: 100%;
      display: flex;
      line-height: 50px;
      border: none;
      border-bottom: solid 1px #000;
      color: #fff;
      background-color: transparent;
      text-align: left;
      padding: 0 20px;
      font-size: 18px;
      transition: .1s;
      outline: none; }
      section .market-category-stock button:nth-child(even) {
        background-color: #222; }
      section .market-category-stock button div:first-of-type {
        flex: 0 1 40px; }
        section .market-category-stock button div:first-of-type span {
          border-radius: 5px;
          box-shadow: 0 1px 3px #000;
          margin: 5px 0 0 0;
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          overflow: hidden; }
        section .market-category-stock button div:first-of-type img {
          position: absolute;
          width: 40px;
          height: 40px;
          left: 0;
          top: 0; }
      section .market-category-stock button div:last-of-type {
        flex: 0 1 calc(100% - 100px);
        padding-left: 10px; }
      section .market-category-stock button span {
        font-size: 20px;
        flex: 0 1 60px;
        text-align: right;
        color: #fffba7; }
      section .market-category-stock button.rarity-2 {
        color: #89ffbc; }
      section .market-category-stock button.rarity-3 {
        color: #3dafff; }
      section .market-category-stock button.rarity-4 {
        color: #f44bff; }
      section .market-category-stock button.rarity-7 {
        color: #ff7e85; }
      section .market-category-stock button:hover, section .market-category-stock button:focus, section .market-category-stock button:active, section .market-category-stock button.on {
        background-color: #113d63;
        cursor: pointer; }
  section .item-info {
    padding: 30px 0 10px 30px;
    display: flex;
    position: relative; }
    section .item-info .refresh-listing {
      position: absolute;
      right: 20px;
      border: solid 1px #000;
      background-color: #163039;
      color: #fff;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 13px;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      box-shadow: 0 1px 3px #000;
      transition: .1s;
      opacity: 0.6; }
      section .item-info .refresh-listing:hover, section .item-info .refresh-listing:focus, section .item-info .refresh-listing:active {
        background-color: #243b60;
        opacity: 1; }
    section .item-info img {
      flex: 0 1 40px;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      box-shadow: 0 1px 3px #000; }
    section .item-info div {
      flex: 0 1 calc(100% - 40px);
      padding-left: 20px; }
    section .item-info p {
      margin-bottom: 5px; }
    section .item-info h1 {
      font-size: 24px;
      font-weight: 300;
      color: #fff;
      margin: 0 0 5px 0; }
      section .item-info h1.rarity-2 {
        color: #89ffbc; }
      section .item-info h1.rarity-3 {
        color: #3dafff; }
      section .item-info h1.rarity-4 {
        color: #f44bff; }
      section .item-info h1.rarity-7 {
        color: #ff7e85; }
  section .market-item-prices,
  section .market-item-history,
  section .market-item-dc {
    padding: 5px 20px; }
    section .market-item-prices h2,
    section .market-item-history h2,
    section .market-item-dc h2 {
      font-size: 18px;
      color: #444;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center;
      padding: 10px; }
    section .market-item-prices small,
    section .market-item-history small,
    section .market-item-dc small {
      text-align: center;
      font-size: 13px;
      color: #666;
      width: 100%;
      display: block;
      text-transform: uppercase; }
  section .market-item-history-stats {
    display: flex; }
    section .market-item-history-stats h4 {
      font-size: 12px;
      font-weight: 600;
      color: #5ea2dc;
      margin-bottom: 5px;
      letter-spacing: 2px;
      padding: 10px;
      text-align: center;
      background-color: #222;
      border-radius: 3px; }
    section .market-item-history-stats h3 {
      font-size: 12px;
      font-weight: 400;
      color: #666;
      margin-bottom: 5px; }
    section .market-item-history-stats > div {
      flex: 0 1 50%;
      margin-bottom: 5px;
      text-align: center; }
      section .market-item-history-stats > div:first-of-type {
        margin-right: 2px; }
      section .market-item-history-stats > div:last-of-type {
        margin-left: 2px; }
      section .market-item-history-stats > div > div {
        display: flex; }
        section .market-item-history-stats > div > div > div {
          flex: 0 1 33%;
          padding: 10px;
          text-align: center;
          background-color: #222;
          border-radius: 3px; }
          section .market-item-history-stats > div > div > div:nth-of-type(2) {
            margin: 0 4px; }
  section .market-item-history-chart {
    padding: 10px;
    background-color: #222;
    border-radius: 3px;
    margin-bottom: 5px; }
  section .market-item-prices-cheap {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    background-color: #181818;
    border-radius: 5px;
    margin-bottom: 5px;
    line-height: 24px;
    display: flex;
    overflow: hidden; }
    section .market-item-prices-cheap > div {
      flex: 0 1 50%;
      padding: 5px 10px; }
      section .market-item-prices-cheap > div:first-of-type {
        background-color: #162e20;
        border-right: solid 1px #000; }
      section .market-item-prices-cheap > div:last-of-type {
        background-color: #331d18;
        border-left: solid 1px #000;
        text-align: right; }
    section .market-item-prices-cheap img {
      vertical-align: middle;
      margin: 0 0 2px 0; }
    section .market-item-prices-cheap span {
      color: #c5c574; }
    section .market-item-prices-cheap strong {
      display: inline-block;
      font-weight: 900;
      color: #818181;
      width: 55px; }
  section .market-item-dc-btn {
    width: 100%;
    border: solid 1px #000;
    background-color: #144286;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000;
    cursor: pointer;
    transition: .2s; }
    section .market-item-dc-btn:hover, section .market-item-dc-btn:active, section .market-item-dc-btn:focus {
      background-color: #113365; }
  section .max-size {
    max-height: 400px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    position: relative; }
    section .max-size .show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 10px;
      width: 100%;
      display: block;
      line-height: 32px;
      font-size: 14px;
      text-transform: uppercase;
      border: none;
      color: #888;
      background-color: #282828;
      box-shadow: 0 0 10px 1px #000;
      outline: none;
      transition: .1s; }
      section .max-size .show-more:hover, section .max-size .show-more:focus, section .max-size .show-more:active {
        background-color: #181818;
        cursor: pointer; }
    section .max-size.off {
      max-height: 100%; }
      section .max-size.off .show-more {
        display: none; }
  section .market-category-toggle {
    float: right;
    margin: 0 20px 10px 0;
    background-color: #282828;
    border: solid 1px #000;
    border-radius: 5px;
    color: #aaa;
    box-shadow: 0 1px 3px #000;
    padding: 4px 12px;
    cursor: pointer;
    outline: none; }

footer {
  font-size: 12px;
  color: #555;
  text-align: center;
  padding: 20px; }

table {
  width: 100%;
  background-color: #222;
  border-radius: 6px;
  overflow: hidden; }
  table td {
    padding: 12px;
    border-right: solid 2px #000; }
    table td:last-of-type {
      border-right: none; }
    table td.price {
      color: #c5c574; }
    table td.title {
      font-weight: 600; }
    table td img {
      margin: -8px 0; }
      table td img.hq {
        margin: 4px 0 0 0; }
    table td small {
      color: #555;
      text-align: center; }
  table tr {
    border-bottom: solid 2px #000; }
    table tr:hover {
      background-color: #161616; }
    table tr.cheapest {
      background-color: #162e20; }
    table tr.expensive {
      background-color: #331d18; }
  table th {
    position: relative;
    z-index: 5;
    padding: 12px;
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px #000;
    background-color: #181818;
    color: #5ea2dc;
    font-weight: 600; }

.market-item-dc tr.cheapest {
  background-color: #162e20; }
  .market-item-dc tr.cheapest td:nth-of-type(5), .market-item-dc tr.cheapest td:nth-of-type(6) {
    background-color: #1a412f; }

.market-item-dc tr.expensive {
  background-color: #331d18; }
  .market-item-dc tr.expensive td:nth-of-type(3), .market-item-dc tr.expensive td:nth-of-type(4) {
    background-color: #4a2e1e; }

select {
  border: solid 1px #000;
  padding: 8px;
  color: #222;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px #000;
  cursor: pointer; }

.loading {
  padding: 30px;
  text-align: center;
  font-size: 24px;
  color: #555; }

.error {
  margin: 50px 20px 20px 20px;
  background-color: #313131;
  border: solid 2px coral;
  box-shadow: inset 0 0 20px #686868;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px; }

