@font-face {
    font-family: 'xivicons';
    src: url('./FFXIVAppIcons.eot');
    src: url('./FFXIVAppIcons.eot?#iefix') format('embedded-opentype'),
         url('./FFXIVAppIcons.woff') format('woff'),
         url('./FFXIVAppIcons.ttf') format('truetype'),
         url('./FFXIVAppIcons.svg#FFXIVAppIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='xiv-']:before{
    display: inline-block;
    font-family: 'xivicons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.xiv-app_address:before{content:'\e010';}
.xiv-app_friend:before{content:'\e020';}
.xiv-app_fc:before{content:'\e030';}
.xiv-app_ls:before{content:'\e040';}
.xiv-app_group:before{content:'\e050';}
.xiv-app_group_add:before{content:'\e052';}
.xiv-app_talk:before{content:'\e060';}
.xiv-app_character:before{content:'\e070';}
.xiv-app_character_add:before{content:'\e072';}
.xiv-app_character_info:before{content:'\e073';}
.xiv-app_mobile:before{content:'\e074';}
.xiv-CrossWorld:before{content:'\e075';}
.xiv-FFXIVMeteo:before{content:'\e076';}
.xiv-ViewMove:before{content:'\e077';}
.xiv-app_block:before{content:'\e080';}
.xiv-app_block_list:before{content:'\e081';}
.xiv-app_black:before{content:'\e090';}
.xiv-app_black_list:before{content:'\e091';}
.xiv-NaviLeft:before{content:'\e100';}
.xiv-NaviRight:before{content:'\e101';}
.xiv-NaviUp:before{content:'\e102';}
.xiv-NaviBottom:before{content:'\e103';}
.xiv-NaviArrowLeft:before{content:'\e110';}
.xiv-NaviArrowRight:before{content:'\e111';}
.xiv-NavigationClose:before{content:'\e120';}
.xiv-Add:before{content:'\e302';}
.xiv-NaviMenu:before{content:'\e200';}
.xiv-app_navi_drawer:before{content:'\e201';}
.xiv-NaviSearch:before{content:'\e210';}
.xiv-NaviInputClear:before{content:'\e511';}
.xiv-app_drawer_setting:before{content:'\e220';}
.xiv-DrawerCustom:before{content:'\e221';}
.xiv-DrawerDelete:before{content:'\e230';}
.xiv-DrawerExit:before{content:'\e231';}
.xiv-ViewRefresh:before{content:'\e240';}
.xiv-ViewLoad:before{content:'\e241';}
.xiv-app_view_list:before{content:'\e250';}
.xiv-app_view_grid:before{content:'\e251';}
.xiv-ViewDetail:before{content:'\e252';}
.xiv-app_drawer_service:before{content:'\e261';}
.xiv-app_drawer_news:before{content:'\e262';}
.xiv-app_drawer_guide:before{content:'\e263';}
.xiv-app_drawer_qa:before{content:'\e264';}
.xiv-app_drawer_support:before{content:'\e265';}
.xiv-Chat:before{content:'\e300';}
.xiv-MessageSend:before{content:'\e310';}
.xiv-ChatStamp:before{content:'\e311';}
.xiv-ChatReadOk:before{content:'\e502';}
.xiv-ChatMute:before{content:'\e321';}
.xiv-ChatQuote:before{content:'\e322';}
.xiv-ChatReadHidden:before{content:'\e323';}
.xiv-ChatDeleted:before{content:'\e324';}
.xiv-Schedule:before{content:'\e400';}
.xiv-ScheduleAdd:before{content:'\e402';}
.xiv-ScheduleCancel:before{content:'\e403';}
.xiv-ScheduleTime:before{content:'\e410';}
.xiv-ScheduleDetails:before{content:'\e411';}
.xiv-ScheduleMember:before{content:'\e412';}
.xiv-ScheduleHistory:before{content:'\e701';}
.xiv-ScheduleShare:before{content:'\e414';}
.xiv-Leader:before{content:'\e415';}
.xiv-NotificationOn:before{content:'\e450';}
.xiv-NotificationOff:before{content:'\e451';}
.xiv-ScheduleAlerm:before{content:'\e452';}
.xiv-CheckBoxOff:before{content:'\e500';}
.xiv-CheckBoxOn:before{content:'\e501';}
.xiv-CheckBoxClear:before{content:'\e503';}
.xiv-RadioButtonOff:before{content:'\e505';}
.xiv-RadioButtonOn:before{content:'\e506';}
.xiv-FormEdit:before{content:'\e510';}
.xiv-CopyPaste:before{content:'\e520';}
.xiv-ItemBuyBack:before{content:'\f207';}
.xiv-Market:before{content:'\e700';}
.xiv-MarketLimit:before{content:'\e702';}
.xiv-MarketPurchase:before{content:'\e703';}
.xiv-app_market_exhibit:before{content:'\e704';}
.xiv-PaymentCoin:before{content:'\e800';}
.xiv-PaymentBuy:before{content:'\e801';}
.xiv-app_payment_symbol:before{content:'\e802';}
.xiv-SymbolAlert:before{content:'\e900';}
.xiv-SymbolQuestion:before{content:'\e901';}
.xiv-SymbolCheck:before{content:'\e902';}
.xiv-SymbolCross:before{content:'\e903';}
.xiv-SymbolMail:before{content:'\e904';}
.xiv-SymbolLock:before{content:'\e905';}
.xiv-ExternalLink:before{content:'\e906';}
.xiv-SquareBoxAlert:before{content:'\e910';}
.xiv-SquareBoxQuestion:before{content:'\e911';}
.xiv-SquareBoxCheck:before{content:'\e912';}
.xiv-SquareBoxCross:before{content:'\e913';}
.xiv-TriangleBoxAlert:before{content:'\e919';}
.xiv-SquareFrameCheck:before{content:'\e922';}
.xiv-SymbolInformation:before{content:'\e930';}
.xiv-CircleCheck:before{content:'\e932';}
.xiv-SymbolMamet:before{content:'\e951';}
.xiv-SymbolMoogle:before{content:'\e952';}
.xiv-SymbolAlarmClock:before{content:'\e953';}
.xiv-GLA:before{content:'\f102';}
.xiv-PGL:before{content:'\f101';}
.xiv-MRD:before{content:'\f103';}
.xiv-LNC:before{content:'\f104';}
.xiv-ARC:before{content:'\f105';}
.xiv-CNJ:before{content:'\f107';}
.xiv-THM:before{content:'\f108';}
.xiv-CRP:before{content:'\f112';}
.xiv-BSM:before{content:'\f113';}
.xiv-ARM:before{content:'\f114';}
.xiv-GSM:before{content:'\f115';}
.xiv-LTW:before{content:'\f116';}
.xiv-WVR:before{content:'\f117';}
.xiv-ALC:before{content:'\f118';}
.xiv-CUL:before{content:'\f119';}
.xiv-MIN:before{content:'\f120';}
.xiv-BTN:before{content:'\f121';}
.xiv-FSH:before{content:'\f122';}
.xiv-PLD:before{content:'\f019';}
.xiv-MNK:before{content:'\f020';}
.xiv-WAR:before{content:'\f021';}
.xiv-DRG:before{content:'\f022';}
.xiv-BRD:before{content:'\f023';}
.xiv-WHM:before{content:'\f024';}
.xiv-BLM:before{content:'\f025';}
.xiv-ACN:before{content:'\f109';}
.xiv-SMN:before{content:'\f027';}
.xiv-SCH:before{content:'\f178';}
.xiv-ROG:before{content:'\f106';}
.xiv-NIN:before{content:'\f030';}
.xiv-MCH:before{content:'\f172';}
.xiv-DRK:before{content:'\f032';}
.xiv-AST:before{content:'\f171';}
.xiv-SAM:before{content:'\f177';}
.xiv-RDM:before{content:'\f176';}
.xiv-BLU:before{content:'\f180';}
.xiv-Armoury_MainArm:before{content:'\f081';}
.xiv-Armoury_SubArm:before{content:'\f082';}
.xiv-Armoury_Head:before{content:'\f124';}
.xiv-Armoury_Body:before{content:'\f126';}
.xiv-Armoury_Hands:before{content:'\f129';}
.xiv-Armoury_Waist:before{content:'\f131';}
.xiv-Armoury_Legs:before{content:'\f128';}
.xiv-Armoury_Feet:before{content:'\f130';}
.xiv-Armoury_Earrings:before{content:'\f133';}
.xiv-Armoury_Necklace:before{content:'\f132';}
.xiv-Armoury_Bracelets:before{content:'\f134';}
.xiv-Armoury_Ring:before{content:'\f135';}
.xiv-Armoury_SoulCrystal:before{content:'\f093';}
.xiv-ItemCategory_Shield:before{content:'\f110';}
.xiv-ItemCategory_Fishing_Tackle:before{content:'\f123';}
.xiv-ItemCategory_Medicine:before{content:'\f136';}
.xiv-ItemCategory_Bone:before{content:'\f144';}
.xiv-ItemCategory_Meal:before{content:'\f146';}
.xiv-ItemCategory_Dye:before{content:'\f147';}
.xiv-ItemCategory_Part:before{content:'\f148';}
.xiv-ItemCategory_Furnishing:before{content:'\f149';}
.xiv-ItemCategory_Materia:before{content:'\f150';}
.xiv-ItemCategory_Crystal:before{content:'\f151';}
.xiv-ItemCategory_Catalyst:before{content:'\f152';}
.xiv-ItemCategory_Miscellany:before{content:'\f153';}
.xiv-ItemCategory_Seasonal_Miscellany:before{content:'\f154';}
.xiv-ItemCategory_Minion:before{content:'\f155';}
.xiv-ItemCategory_Triple_Triad_Card:before{content:'\f156';}
.xiv-ItemCategory_Soul_Crystal:before{content:'\f157';}
.xiv-ItemCategory_Other:before{content:'\f159';}
.xiv-ItemCategory_Exterior_Fixtures:before{content:'\f160';}
.xiv-ItemCategory_Interior_Fixtures:before{content:'\f161';}
.xiv-ItemCategory_Tables:before{content:'\f162';}
.xiv-ItemCategory_Tabletop:before{content:'\f163';}
.xiv-ItemCategory_Furnishings:before{content:'\f164';}
.xiv-ItemCategory_Chairs_and_Beds:before{content:'\f165';}
.xiv-ItemCategory_Wallmounted:before{content:'\f166';}
.xiv-ItemCategory_Rug:before{content:'\f167';}
.xiv-ItemCategory_Outdoor_Furnishings:before{content:'\f168';}
.xiv-ItemCategory_Airship:before{content:'\f169';}
.xiv-ItemCategory_DRK:before{content:'\f170';}
.xiv-ItemCategory_Orchestrion_Roll:before{content:'\f173';}
.xiv-ItemCategory_Gardening:before{content:'\f174';}
.xiv-ItemCategory_Painting:before{content:'\f175';}
.xiv-ItemAll:before{content:'\f200';}
.xiv-Bag:before{content:'\f201';}
.xiv-ArmoryChest:before{content:'\f202';}
.xiv-Gil:before{content:'\f203';}
.xiv-Retainer:before{content:'\f204';}
.xiv-ChocoboStorage:before{content:'\f205';}
.xiv-ItemShard:before{content:'\f206';}
.xiv-TrashCan:before{content:'\f208';}
.xiv-Wallet:before{content:'\f209';}
.xiv-CharaChange:before{content:'\f210';}
.xiv-CommandIn:before{content:'\f211';}
.xiv-CommandChange:before{content:'\f212';}
.xiv-CommandAdd:before{content:'\f213';}
.xiv-MarketFilter:before{content:'\f214';}
.xiv-MarketSort:before{content:'\f215';}
.xiv-item_command_move_ac:before{content:'\f216';}
.xiv-ListView:before{content:'\f219';}
.xiv-RoundArrowUp:before{content:'\f221';}
.xiv-RoundArrowDown:before{content:'\f222';}
.xiv-RoundArrowRight:before{content:'\f223';}
.xiv-TradeUp:before{content:'\f224';}
.xiv-TradeDown:before{content:'\f225';}
.xiv-MoogleBasket:before{content:'\f226';}
.xiv-GlamoursBase:before{content:'\f231';}
.xiv-GlamoursColor:before{content:'\f232';}
.xiv-GlamoursNullBase:before{content:'\f233';}
.xiv-GlamoursNullColor:before{content:'\f234';}
.xiv-PaintBorder:before{content:'\f235';}
.xiv-PaintColor:before{content:'\f236';}
.xiv-PaintBorderLarge:before{content:'\f237';}
.xiv-PaintColorLarge:before{content:'\f238';}
.xiv-item_signature:before{content:'\f239';}
.xiv-StorageCharacter:before{content:'\f300';}
.xiv-SquareNo01:before{content:'\f301';}
.xiv-SquareNo02:before{content:'\f302';}
.xiv-SquareNo03:before{content:'\f303';}
.xiv-SquareNo04:before{content:'\f304';}
.xiv-SquareNo05:before{content:'\f305';}
.xiv-SquareNo06:before{content:'\f306';}
.xiv-SquareNo07:before{content:'\f307';}
.xiv-SquareNo08:before{content:'\f308';}
.xiv-SquareNo09:before{content:'\f309';}
.xiv-SquareNo10:before{content:'\f310';}
.xiv-ChocoboStorage1:before{content:'\f331';}
.xiv-ChocoboStorage2:before{content:'\f332';}
.xiv-CharacterEmpty:before{content:'\f341';}

