<h3 style="color: #b13b4c">beta</h3>

<h5>How it works</h5>
<p>
    Prices for servers are updated in the background.
    Each item on every server gets a "Priority" value.
    This places it in a queue with other items of the same priority.
    "Consumers" go through these queues and update the items.
    This process is entirely driven on how often an item sells.
    eg; if an item sells on avg every 30 minutes, it is priority 1.
    The system is reactive, every night it checks the price of all items on all servers and works out
    where things should be. Some stuff may not update as fast as you'd like, this system is being
    tweaked slowly to avoid Square-Enix instant banning my accounts (<em>again</em>)
</p>

<h5>Notes</h5>
<ul>
    <li>Not all servers are "Online" yet, most of NA/EU are, JP are being added.</li>
    <li>Search filters - not added any yet. Will do!</li>
    <li>I don't like the "currently searching" style on the search (notice how the border changes color as you search), might look into something more flashy/obvious.</li>
</ul>

<h5>Work in progress</h5>
<ul>
    <li>Graph porn, this will be under the "summary" tab, needed XIVAPI data finished for this.</li>
    <li>A ton of features that have been requested since I released mogboard, going through them all now to implement.</li>
    <li>Character stuff when logged in not done yet, easy for me to do so was not priority.</li>
</ul>

<br><br>
<p>
    Thank you! -PV
</p>
