<h3 style="color: #b13b4c">beta</h3>
<p>If you spot a glaring mistake or bug, let me know on #patron channel or via DM!</p>

<p>
    <strong>Current State:</strong> A lot of stuff still being pushed to the frontend and some stuff
    expects you to be logged in (eg Favourites), a lot of minor things to clean up. A lot of this site
    relied on getting persistent data working on XIVAPI for market info. Now that is done I have finally
    pushed the new site design out for testing and feedback, expect a lot of frequent improvements!
</p>

<br>

<h5>Bugs</h5>
<ul>
    <li>Updating - I am not currently running updating at this time as I need to make a few tweaks, so prices/history is a sort of snapshot from early morning 1st March GMT.</li>
    <li>Search filters - not added any yet. Will do!</li>
    <li>History > Dates, are wildly wrong. SE provide a "millisecond" but the site expects seconds, so it's thinking its 1000x more seconds than it actually is :D I need to do a fresh new pass at prices/history</li>
    <li>Fave fails if you're not logged in, this widget should be hidden</li>
    <li>"Updated" time is wrong on items, not being passed through correctly from XIVAPI</li>
    <li>The "on sale" hq and "history" hq values are hard coded/fake, will fix.</li>
</ul>

<br>

<h5>Thoughts</h5>
<ul>
    <li>I don't like the "currently searching" style on the search (notice how the border changes color as you search), might look into something more flashy/obvious.</li>
</ul>

<h5>Work in progress</h5>
<ul>
    <li>Graph porn, this will be under the "summary" tab, needed XIVAPI data finished for this.</li>
    <li>A ton of features that have been requested since I released mogboard, going through them all now to implement.</li>
</ul>

<br><br>
<p>
    Thank you! -PV
</p>
