{% extends 'base.html.twig' %}
{% set title = 'Contribute' %}

{% block body %}

<div class="page">
    <div class="mogboard-header">
        <img src="/i/brand/universalis/universalis_bodge.png">
    </div>

    <div class="page-block">

        <br><br>

        <div class="page-short">
            <h3>How to contribute to <strong>Universalis</strong></h3>
            <p>
                There are multiple ways to contribute to <strong>Universalis</strong>.
                All of your contributions are anonymous - no one will be able to refer back
                to your character or account to know that you have uploaded any data.
                The applications below are tested by us to make sure that they don't endanger
                your account or your characters. 
            </p>
            <p>
                Every contribution helps to make the data on <strong>Universalis</strong> better,
                more accurate and more helpful. Thank you very much for helping out!
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h5><strong>Universalis</strong> ACT plugin</h5>
            <p>
                This is a regular ACT plugin that runs next to the always used FFXIV_ACT_PLUGIN - just drop it into your
                ACT plugins folder, add it to ACT and you're good to go! No configuration needed.
                <br>
                <br>
                <div style="text-align: center;">
                    <a href="https://github.com/goaaats/universalis_act_plugin/releases/latest" target="_blank"><button type="button" class="btn btn-green btn-download"><span class="icon-heart"/> Download</button></a>
                </div>
            </p>
        </div>

        <br><br><br>

        <div class="page-short">
            <h5><strong>FFXIVQuickLauncher</strong> In-Game addon</h5>
            <p>
                FFXIVQuickLauncher is a faster launcher for FFXIV  aims to fix the slowness and tediousness of
                the regular launcher and adds a lot of QoL features to the game.
                <br>
                <br>
                <div style="text-align: center;">
                    <a href="https://github.com/goaaats/FFXIVQuickLauncher/" target="_blank"><button type="button" class="btn btn-green btn-download"><span class="icon-heart"/> Download</button></a>
                </div>
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h3>Are you making your own application?</h3>
            <p>
                If you wish to contribute to <strong>Universalis</strong> with your own application,
                please contact us on our discord. Let's work together!
            </p>
        </div>
    </div>

    <div class="page-block">
        <br><br>

        <div class="page-short">
            <h3>I have more questions!</h3>
            <p>
                Hop onto <a href="https://discord.gg/3NMcUV5">our discord</a> and you can
                ask all your questions.
            </p>
            <p>
                You can also pm me: <span class="text-yellow">meeboo</span> if you prefer :)
            </p>
        </div>

        <br><br>
    </div>

</div>

{% endblock %}
