{% extends 'base.html.twig' %}
{% set title = 'Contribute' %}

{% block body %}

<div class="page">
    <div class="mogboard-header">
        <img src="/i/brand/universalis/universalis_bodge.png">
    </div>

    <div class="page-block">

        <br><br>

        <div class="page-short">
            <h3>How to contribute to <strong>Universalis</strong></h3>
            <p>
                The site allows you to view in-game market for multiple servers at
                anytime, anywhere. It uses crowd-sourced data from multiple sources to provide
                the most up-to-date prices possible.
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h3>What information can I get?</h3>
            <p>
                All market information is available: Prices, Materia, Retainer, Crafters and even Buyers.
                Everything that you see in-game is available. Additional data-views have been added
                such as graphs, extended history and cross-world summary is also included.
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h3>Can I have access to the data?</h3>
            <p>
                <strong>Definitely!</strong>
                <br><br>
                Everything you see on Universalis is open for anyone to use, to learn more
                about how to access the data using a REST API Service, check out the
                <a href="https://universalis.app/docs">Universalis</a> documentation.
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h3>Special thanks</h3>
            <p>
                We would like to thank Vekien and Miu from <a href="https://xivapi.com">XIVAPI</a> for their initial work on mogboard,
                which made this site, in its current state, possible.
            </p>
        </div>
    </div>

    <div class="page-block">
        <br><br>

        <div class="page-short">
            <h3>I have more questions!</h3>
            <p>
                Hop onto <a href="https://discord.gg/3NMcUV5">our discord</a> and you can
                ask all your questions.
            </p>
            <p>
                You can also pm me: <span class="text-yellow">meeboo</span> if you prefer :)
            </p>
        </div>

        <br><br>
    </div>

</div>

{% endblock %}
