{% extends 'base.html.twig' %}
{% set title = 'Feedback' %}

{% block body %}
<div class="page">
    <h1>Provide your feedback!</h1>

    <div class="page-note">
        Got a suggestion for the site? Or just want say something!
    </div>

    {% if feedback_sent == 'yes' %}
    <br>
    <div class="page-block">
        <div class="alert-green">
            <h5>Feedback Sent</h5>
            Thank you for taking the time to submit feedback, it will be read by
            all Mogboard staff and if a reply is required one will be put forth.
        </div>
    </div>
    {% endif %}

    {% if feedback_sent == 'no' %}
        <br>
        <div class="page-block">
            <div class="alert-red">
                <h5>Feedback not sent</h5>
                Could not send feedback, please try again later.
            </div>
        </div>
    {% endif %}

    <br>

    <div class="page-block">
        <div class="page-feedback-block">
            <h3><strong>Be constructive!</strong></h3>
            <p>
                All feedback is read by the mogboard staff. It is important that your feedback is
                clear and easy to understand should any action be required (updates, bug fixes,
                feature suggestions). Any negative or rude messages will be disregarded, if you
                need help with anything it may be quicker to message one of the mogboard
                members directly through discord.
            </p>
            <p>
                If there is a bug on a specific page, please provide a link to that page. If it's regarding
                out of date prices, please understand that the system cannot provide 100% real-time prices
                and that there will be an "Last Updated" time for each server. Check this, if it is above
                3 days then it is bugged (however we should know about it by then!).
            </p>
            {% if auth.isOnline %}
            <p>
                Your discord <strong>username</strong> and <strong>email</strong> will be submitted
                with your feedback. Only MogBoard staff can see this, on discord these are the
                users with the role "Admin" and "Moderator". If a reply is required you will
                be contacted via one of these methods:
            </p>
            <ul>
                <li class="text-yellow">
                    <strong>Username:</strong> {{ auth.user.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>Email:</strong> {{ auth.user.email }}
                </li>
            </ul>
            {% endif %}

            <h3>F&Q</h3>

            <div class="alert-dark">
                <ul>
                    <li>
                        <strong class="text-green">Why is item "XYZ" not updating often?</strong>
                        <p>
                            There could be many reasons why. First thing is it is important to know what Queue it is in. If
                            the item does not sell often (over a long period of time...) then it will not be updated
                            as often. All items aim to update within a 2 day period unless they sell very rarely or not at all.
                        </p>
                        <p>
                            Mogboard cannot provide 100% up to date prices as Square-Enix BAN accounts that perform too many
                            requests to the Companion API. So until things improve in that area not much can be done.
                        </p>
                    </li>
                    <li>
                        <strong class="text-green">Why has my alert not triggered?</strong>
                        <p>
                            Check if your alert is using the trigger: <code>Price_Added</code>, this trigger
                            is a TIMESTAMP and not a "Gil Price", so if you put "Price_Added < 150" then it's going
                            to be looking at the Epoch Timestamp + 150 seconds.. Which would be January 1st 1970 + 150 seconds
                        </p>
                        <p>
                            Make sure to remove these kinds of triggers unless you know how to make a timestamp.
                        </p>
                    </li>
                    <li>
                        <strong class="text-green">Why can't we get items sold by NPCs?!</strong>
                        <p>
                            This has been asked a lot. It comes back to the ability to "update", There are 9500 items on the
                            Market Board. And 34 Servers between NA/EU. That is 323,000 updates to handle. Double that to
                            also include Price History (646,000).
                        </p>
                        <p>
                            Companion is very slow and the only way to get faster update times is to either: Perform more requests
                            (which results in a BAN), or reduce the amount of items I need to update.
                        </p>
                        <p>
                            With this, some items got removed from the system to avoid being banned. This includes items
                            sold by an NPC. 80% of these items are cheaper from the NPC than MB, and some you don't really
                            need a HQ version for (eg: DOW Levelling Gear)
                        </p>
                        Until SE decide to stop banning for Companion usage, this cannot be changed.
                    </li>
                </ul>
            </div>

            <br>

            <h3><strong>Send your feedback</strong></h3>
            <form method="post" action="{{ path('feedback_send') }}">
                <div class="form_row">
                    <textarea id="feedback_message" name="feedback_message" placeholder="Write your message"></textarea>
                    <small>Max: 1000 characters</small>
                </div>
                <div class="form_row">
                    <label for="ted">Enter the <strong>initials</strong> for the game this site is related to (ffxiv)</label>
                    <input type="text" name="ted" id="ted">
                </div>

                <div class="form_row">
                    <label for="gil">Is your feedback regarding pages with Gil prices? Type NO in capitals (NO)</label>
                    <input type="text" name="gil" id="gil">
                </div>

                <br><br>

                <div class="alert-dark text-red" style="border: solid 2px #ff2a23">
                    <strong>Hello!</strong><br><br>
                    Is your feedback about pages showing <strong>NPC Gil prices instead of Market Data</strong>?
                    <br>
                    If the answer is YES.
                    <br><br>
                    <h2>THEN STOP</h2>
                    <p>
                        Scroll up, and read the F&Q box above. It does not matter what reason, or scenario,
                        or possible legitimate use you have for these prices, until Square-Enix stop banning
                        accounts that get Market Data, we cannot include these at this time. This isn't about
                        "ripping off people" or anything ethical, this is about stopping SE from banning accounts.
                    </p>
                    <p>
                        Thank you. Keep scrolling down if your feedback has nothing to do with this.
                    </p>
                </div>

                <br><br>

                <div class="form_row">
                    <button type="submit" class="btn-green btn-feedback-submit">Send Feedback</button>
                </div>
            </form>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
var $btn = $('.btn-feedback-submit');
$btn.on('click', function() {
    setTimeout(function() {
        $btn.prop('disabled', true)
    }, 500);
});
</script>
{% endblock %}
