{% extends 'base.html.twig' %}

{% block body %}

    <div class="home">
        <div>
            <div class="home-outline">
                <p><strong>(PLAYER STUFF)</strong></p>
                <p>Friends</p>
                <p>Tracked Retainers</p>
                <p>Popular items</p>
                <p>Other player statz</p>
                <p>Recent Items</p>
            </div>
        </div>
        <div>
            <div class="home-outline" style="border: solid 1px #b13b4c;">
                {% include 'Pages/bugs.html.twig' %}
            </div>

            <div class="home-outline">
                <p><strong>(TRACKED STUFF)</strong></p>
                <p>Recent "watched item" notification</p>
                <p>Player "sold item" notification</p>
                <p>Tracked items with graph porn and sales figures</p>

                <br><br>

                {% if auth.online() %}

                    <p>Lists</p>
                    {% for list in auth.user.lists %}
                        <h4>{{ list.name }}</h4>
                    {% endfor %}

                    <p>Alerts</p>
                    {% for alert in auth.user.alerts %}
                        <h4>{{ alert.name }}</h4>
                    {% endfor %}

                {% endfir %}

            </div>
        </div>
        <div>
            <div class="home-box">
                <div class="welcome-banner">
                    <img src="/i/brand/mogboard/mogboard_light.svg" height="32">
                </div>

                <p>
                    Mogboard.com Is still heavily in progress, if you have any feedback please
                    be sure to jump onto the Discord and shout at <strong class="text-blue">@vekien</strong>
                </p>
                <p>
                    Discord: <a href="https://discord.gg/MFFVHWC">discord.gg/MFFVHWC</a>
                </p>
            </div>
            <a class="home-patron"href="https://www.patreon.com/vekien">
                <div>
                    <img src="/i/brand/patreon/logo.jpg" height="46px">
                </div>
                <div>
                    Support <strong>Mogboard and XIVAPI</strong><br>
                    by becoming a <strong>Patron</strong>!
                </div>
            </a>
            <div class="home-outline">
                <p><strong>(MOGBOARD SITE STUFF)</strong></p>
                <p>Mogboard News</p>
                <p>Server Status</p>

            </div>
        </div>
    </div>

{% endblock %}
