{% extends 'base.html.twig' %}
{% set title = 'News' %}

{% block body %}

<div class="page">

    <div class="mogboard-news">
        <h6>mog news</h6>
    </div>

    <div class="mog-news">

        <div class="flex">
            <div class="flex_10">
                <img src="/i/bg/me.png" class="mog-news-avatar">
            </div>
            <div class="flex_90 mog-news-post">
                <h3>Mogboard v2 is here!</h3>
                <small><strong>Posted:</strong> Monday 22nd April, 2019</small>

                <p>
                    Yay. v2 is finally live!! There are a load of cool stuff with this release. I have
                    been working on this since the launch of the original site some 6 months ago with the
                    aim to have it done by World-Visit. And today is that day
                </p>

                <p>
                    The changes made are taken from feedback I've been provided through Reddit, my discord
                    as well as those who have contributed and been testing the beta version via Patreon.
                </p>

                <p>
                    <strong>Whats new!?</strong>
                </p>

                <ul class="news-ulz">
                    <li>
                        <strong>Cross-World Views</strong>
                        Now when you load an item, it will show cross-world immediately! (no extra buttons). This will
                        be very handy for when world-visit arrives. The page shows a Data-Center market board as well
                        as the cheapest server and DC-wide graphs.
                    </li>
                    <li>
                        <strong>High-Quality / Normal Quality split</strong>
                        In all areas of the site with regards to statistics, HQ and NQ will be properly split up
                        and shown independently, this makes it a lot easier to view an item that may have
                        very different prices based on the quality type.
                    </li>
                    <li>
                        <strong>Extended History</strong>
                        Now that items are being updated in the background, I effectively can provide an infinite
                        history. Right now mogboard is set to 100, I will increase this as demand shows or look
                        into lazy-loading more on scroll. The full history can be accessed via the API at anytime.
                    </li>
                    <li>
                        <strong>Speeeed</strong>
                        It's surprising what a cache layer can do! As the entire site is now running on a server
                        rather than just a small github project, I have access to the full XIVAPI Data Cache
                        as well as Companion ElasticSearch data, <em>this equals speed</em>.
                    </li>
                    <li>
                        <strong>A homepage all about you!</strong>
                        (disclaimer: work in progress), the home page is now all about you, you, you. If you're
                        logged in it will list your retainers, your alerts and list your lists, so you can list
                        your lists while you list. I want to add a lot more to this and begin to convert it to
                        a real-time feed showing stuff you've sold recently, any alert triggers as well as
                        items you may be watching and want insight information on (price charts and science stuff).
                    </li>
                    <li>
                        <strong>Alerts!</strong>
                        Want to be notified regarding changes on the market board? Maybe you have some items
                        up at Price X and you want to know if some smuck puts the same item up for Price X-1 Gil?
                        Setup an alert and be notified when it happens!! This is market wars!
                    </li>
                    <li>
                        <strong>Retainers!</strong>
                        If you have some, which is very likely, you can add them to the site to keep an eye
                        on what they're selling! Every retainer has its own page and that you can
                        even share to all your crafting buddies.
                    </li>
                    <li>
                        <strong>Multiple Item Lists</strong>
                        Bit of a minor one, remember how on the old site you could make a wishlist? Well now
                        you can make multiple wish-lists, crazzzzzy right? There are even 2 already built
                        for you: Favourites and Recently Viewed.
                    </li>
                    <li>
                        <strong>Mobile / Tablet work "BEGINS"</strong>
                        Note the use of capitals there. I have started work on getting this site optimised
                        and working nicely on both Mobile and Tablet, this is on-going so plz bear with me.
                    </li>
                    <li>
                        <strong>Hidden Side Menu! .. ??</strong>
                        Okay this isn't really like a mad feature, if you miss the old side-bar that v1 had you
                        can click the "cog", and turn it back on in the site settings. It misses you too.
                    </li>
                </ul>

                <p>
                    There is probably a few other little bits here and there that I've forgotten.
                    This site has been in the works for quite some time and gone through a couple revisions.
                    I've tried to keep it market focused and the design should reflect that.
                </p>

                <br><br>

                <p>
                    I hope you enjoy!<br>
                    - Premium Virtue - Phoenix.
                </p>
            </div>
        </div>
        <br><br>

    </div>
</div>

{% endblock %}
