{% extends 'base.html.twig' %}
{% set title = 'News' %}

{% block body %}

<div class="page">

    <div class="mogboard-news">
        <h6>mog news</h6>
    </div>

    <div class="mog-news">

        <div class="flex">
            <div class="flex_10">
                <img src="/i/bg/me.png" class="mog-news-avatar">
            </div>
            <div class="flex_90 mog-news-post">
                <h3>Efforts to restore service</h3>
                <small><strong>Posted:</strong> Tuesday 30th April, 2019</small>

                <p>
                    As you know, on 26th April Square-Enix banned the accounts Mogboard uses. This isn't the
                    first time it's happened (6 accounts gone now). While I have no definitive reasoning,
                    and the email that comes a week later lists TOS violations, my main theory is because
                    the FFXIV servers are struggling right now due to World Visit. The first set of accounts
                    lasted 4 months, the second set lasted 6 weeks (until World Visit). Even reducing the
                    amount of rquests I perform to the Companion API, SE still flagged the accounts.
                </p>
                <p>
                    So here we go again, huge thanks to the community I have been able to get updates rolling
                    in again. I am not going to write up about all the changes I've made as I would like
                    to see if it has any effect yet.
                </p>
                <p>
                    You can view the Mogboard Account Status here: <a href="https://mogboard.com/server-status">Server status</a>
                </p>

                <hr>

                <p>
                    <strong class="text-green">Some notes/changes:</strong>
                </p>

                <ul>
                    <li>If a server becomes congested, it may be logged off Mogboard to avoid issues.</li>
                    <li>Prices are updating at a slower rate than I would like, this is intentional for now.</li>
                    <li>
                        92,072 (28%) items have been removed from the market as all these items can be bought for Gil from an NPC.
                        This is simply to reduce the amount of "wasted" requests the site perform. Sadly this
                        also means no HQ prices for these items. These are mostly levelling gear (eg: Weathered bow).
                        In place of these items, the NPC vendor location and Gil price will be shown.
                    </li>
                    <li>
                        20,372 (6%) items are not auto-updating as they have never had a single sale in their
                        entire history of being on the site. (The page for these will be updated to reflect this)
                    </li>
                    <li>
                        150,098 (46%) of items are not auto-updating <strong>at this time</strong> as they do
                        not sell often enough (once a day). This is temporary while I monitor the
                        stability of the game servers, and to reduce change of being banned.
                    </li>
                    <li>
                        61,614 (20%) of items are currently auto-updating at a slow rate.
                    </li>
                </ul>

                <hr>

                <p>
                    <strong class="text-green">Going Forward</strong>
                </p>

                <p>
                    Obvious this isn't what I had hoped for when I released v2. Everything was fine during beta
                    and it seems World Visit just isn't as stable as we'd hope... I think this is apparent
                    for some people when using it in-game.
                </p>
                <p>
                    I will be monitoring these changes over the week and trying to increase the auto-update
                    areas to get the cycle times within a reasonable amount.
                </p>
                <p>
                    However there is one function I think I will add, and that is "Manual Update". This is
                    a bit similar to how Mogboard v1 worked, I have to be careful as it would provide
                    direct access to Companion so it may be limited to specific user groups (eg: Must be logged in).
                </p>
                <p>
                    <strong>If all this fails</strong>
                </p>
                <p>
                    Then I'm not sure what to do! Getting more accounts is not difficult, but worthless
                    when SE just flip the ban hammer right away.
                </p>
                <p>
                    Lets see what happens :)
                </p>
                <p>
                    - PV
                </p>
            </div>
        </div>
        <br><br>

    </div>
</div>

{% endblock %}
