//
// Item search category
// The list of items shown when you click a search category in the header
//

.item-category-list {
    max-width: 800px;
    margin: 0 auto 30px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-start;

    h2 {
        flex: 0 1 100%;
        padding: 10px 0;
        color: #666;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    a {
        flex: 0 1 calc(50% - 4px);
        align-items: stretch;
        display: flex;
        background-color: #363636;
        border: none;
        border-radius: 5px;
        line-height: 40px;
        height: 40px;
        padding: 0;
        text-align: left;
        cursor: pointer;
        outline: none;
        transition: .2s;
        text-decoration: none;
        position: relative;
        overflow: hidden;

        &:hover {
            background-color: #282828;
        }

        img {
            height: 46px;
            width: 46px;
            margin: -3px 0 0 -3px;
            vertical-align: middle;
        }

        &:nth-of-type(odd) {
            margin: 0 2px 4px 0;
        }

        &:nth-of-type(even) {
            margin: 0 0 4px 2px;
        }

        span:first-of-type {
            display: block;
            width: 40px;
            height: 40px;
            overflow: hidden;
            box-shadow: 0 1px 3px #000;
            margin-right: 10px;
        }

        span:last-of-type {
            color: yellow;
            display: inline-block;
            width: 40px;
        }

        &.rarity-1 { color: #eee; }
        &.rarity-2 { color: #89ffbc; }
        &.rarity-3 { color: #3dafff; }
        &.rarity-4 { color: #f44bff; }
        &.rarity-7 { color: #ff7e85; }
    }
}
