:root {
    --columnLeft: 200px;
    --columnMid: 100%;
    --columnRight: 360px;
    --box-padding: 16px;
}

.product {
    display: flex;
    padding-bottom: 20px;

    .product-header {
        height: 70px;
        //margin-bottom: 30px;
        //padding-bottom: 30px;
        //border-bottom: solid 1px var(--table-color-dark);

        h1 {
            font-size: 50px;
            font-weight: 300;
            display: inline-block;
            margin: 0;

            i {
                font-size: 36px;
            }

            span {
                font-size: 20px;
                display: inline-block;
                margin-left: 20px;
                color: #aaa;
            }
        }
    }

    > div:nth-of-type(1) {
        flex: 0 1 var(--columnLeft);
        background-color: var(--table-color-dark);
        min-width: var(--columnLeft);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        overflow: hidden;
        position: relative;

        .icon {
            width: 200px;
            height: 200px;
            position: relative;
            display: block;
            margin: 0 auto;

            text-align: center;
            margin-bottom: 10px;

            img {
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);

                z-index: 20;
                border-bottom: solid 1px #000;

                width: 202px;
                height: 202px;
            }
        }

        .menu {
            width: var(--columnLeft);
            position: relative;

            &.fixed {
                position: fixed;
                top: 20px;
            }

            > h4 {
                margin-top: 10px;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                padding: 12px 0;
                line-height: 22px;
                color: var(--table-color-3x);
            }

            > button {
                width: 100%;
                margin-bottom: 5px;
                text-align: left;
                line-height: 46px;
                height: 46px;
                font-size: 16px;
                background-color: transparent;
                border: solid 1px transparent;
                color: #fff;
                display: block;
                outline: none;
                cursor: pointer;
                transition: 100ms;
                padding: 0 15px;
                text-shadow: 0 1px 3px #000;

                em {
                    float: right;
                }

                > span {
                    font-size: 18px;
                    vertical-align: middle;
                    margin: 0 10px -6px 0px;
                    display: inline-block;

                    &.cw-summary {
                        margin: 0 8px -4px 0px;
                    }

                    &.cw-home {
                        font-size: 24px;
                        margin: 0 5px 0 0;
                    }
                }

                &:hover {
                    background-color: var(--default-3x);
                }

                &.open {
                    background-color: var(--color1);
                }
            }

            hr {
                margin: 20px 0;
                height: 1px;
                position: relative;
                overflow: visible;
                background-color: #101010;
            }
        }
    }

    > div:nth-of-type(2) {
        flex: 0 1 calc(var(--columnMid) - var(--columnLeft) - var(--columnRight));
        padding: 0 30px;

        .tab-prices,
        .tab-history,
        .tab-details,
        .tab-page {
            display: none;

            &.open {
                display: block;
            }
        }

        .tab-prices,
        .tab-history,
        .tab-page {
            .tab-nav {
                display: flex;
                margin-bottom: 15px;

                > div {
                    flex: 0 1 50%;

                    &:first-of-type {
                        button {
                            background-color: transparent;
                            color: #fff;
                            font-size: 17px;
                            font-weight: 300;
                            height: 40px;
                            line-height: 40px;
                            padding: 0 20px;
                            border-radius: 4px;
                            border: none;
                            cursor: pointer;
                            outline: none;

                            &.active {
                                background-color: var(--purple-2x);
                            }
                        }
                    }

                    &:last-of-type {
                        text-align: right;

                        span {
                            background-color: transparent;
                            color: var(--table-color-3x);
                            font-size: 17px;
                            font-weight: 300;
                            height: 40px;
                            line-height: 40px;
                            padding: 0 20px;
                            border-radius: 4px;
                            border: none;
                            cursor: pointer;
                            outline: none;

                        }
                    }
                }
            }

            .tab-page-header {
                display: flex;

                > div {
                    display: flex;

                    button {
                        border: solid 1px var(--purple-2x);
                        background-color: transparent;
                        height: 46px;
                        line-height: 44px;
                        font-size: 20px;
                        color: #fff;
                        padding: 0 15px;
                        outline: none;
                        cursor: pointer;
                        transition: 100ms;

                        &:hover {
                            background-color: var(--table-color-2x);
                        }

                        &.active {
                            background-color: var(--purple-2x);
                        }

                        &:first-of-type {
                            border-radius: 5px 0 0 5px;
                            position: relative;
                            z-index: 5;
                        }

                        &:last-of-type {
                            border-radius: 0 5px 5px 0;
                        }
                    }
                }

                h1 {
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 44px;
                    padding-left: 20px;
                    letter-spacing: 5px;
                }
            }

            .table {
                tr:hover {
                    background-color: rgba(80,80,80,0.3);
                }

                i {
                    font-size: 20px;
                    vertical-align: middle;
                }

                img {
                    vertical-align: middle;
                }

                .price-num {
                    color: #555;
                }

                .price-hq {
                    text-align: center;
                }

                .price-qty {
                    color: #aaa;
                    font-weight: 600;
                }

                .price-current {
                    color: #dddc87;
                    text-align: right;
                }

                .price-total {
                    color: #afffa1;
                    text-align: right;
                }

                .price-retainer,
                .price-creator,
                .price-buyer,
                .price-date {
                    text-align: right;
                    color: #aaa;
                }

                .materia {
                    img {
                        border-radius: 30px;
                    }
                }
            }
        }
    }

    > div:nth-of-type(3) {
        flex: 0 1 var(--columnRight);

        .box {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            overflow: hidden;
            background-color: var(--table-color-dark);
            margin-bottom: 20px;

            .table em {
                display: inline-block;
                font-style: normal;
                color: var(--purple-3x);
            }

            .box_row {
                padding: 10px;
                border-bottom: solid 1px var(--table-color);
            }

            .box_form {
                padding: 10px;
                background-color: var(--table-color-dark);
                transition: 100ms;

                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 14px;
                }

                .box_flex {
                    display: flex;

                    > button {
                        width: 50%;

                        &:first-of-type {
                            margin-right: 10px;
                        }

                        &:last-of-type {
                            margin-left: 10px;
                        }
                    }
                }
            }

            .btn_addto_fave,
            .btn_addto_list {
                i {
                    margin-right: 5px;
                    margin-bottom: -2px;
                    display: inline-block;
                    vertical-align: middle;
                }

                &.on {
                    background-color: var(--red-2x);
                }
            }
        }

        .box_updated {
            display: flex;

            > div:nth-of-type(1) {
                flex: 0 1 50%;
                padding: 15px;

                h6 {
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--table-color-3x);
                    text-transform: uppercase;
                    text-shadow: none;
                    margin-bottom: 4px;
                }
            }

            > div:nth-of-type(2) {
                flex: 0 1 50%;
                padding: 15px;
                text-align: right;

                button i {
                    vertical-align: middle;
                }
            }
        }

        .box_third_party {
            tr td:first-of-type {
                text-align: center;
            }

            img {
                border-radius: 2px;
                display: inline;
                vertical-align: middle;
            }
        }

        .box_teamcraft {
            .table {
                box-shadow: none;
                border-radius: 0;

                em {
                    display: inline-block;
                    font-weight: 400;
                    color: var(--highlight2x);
                    margin-right: 5px;
                }
            }

            .tc-img {
                margin: -4px;
            }

            .tc-top {
                padding: 10px;
                text-align: left;
                display: flex;

                > div:last-of-type {
                    padding: 5px 0 0 12px;
                    text-align: left;
                }

                h4 {
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 3px;
                }

                small {
                    font-size: 14px;
                    opacity: 0.5;
                }

                img {
                    margin-top: 5px;
                }
            }
        }

        .box_item_details {
            small {
                font-size: 12px;
                letter-spacing: 2px;
                display: block;
                color: var(--purple);
                margin-bottom: 8px;
            }

            .item_attributes,
            .item_connections {
                em {
                    display: inline-block;
                    width: 50px;
                }

                strong {
                    display: block;
                    padding: 0 0 8px 8px;
                    color: var(--highlight2x);
                    font-weight: 400;
                }

                div {
                    padding: 5px 8px;
                    font-size: 14px;
                }

                span {
                    color: var(--green-3x);
                    display: inline-block;
                    width: 50px;
                }
            }
        }

        .box_lists {

        }
    }

    .cw-history,
    .cw-prices {
        display: none;

        &.open {
            display: block;
        }

        table {
            background: rgb(38,38,38);
            background: -moz-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(28,28,28,1) 100%);
            background: -webkit-linear-gradient(top, rgba(38,38,38,1) 0%,rgba(28,28,28,1) 100%);
            background: linear-gradient(to bottom, rgba(38,38,38,1) 0%,rgba(28,28,28,1) 100%);

        }
    }

    .tab-alerts {
        h3 {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--highlight);

            i {
                display: inline-block;
                margin: 0 4px -2px 0;
                vertical-align: bottom;
            }
        }

        > div {
            padding: 20px 0;
        }

        form {
            background-color: var(--table-color-dark);
            border-radius: 5px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.2);
            padding: 15px;

            .alert_trigger_remove {
                background-color: transparent;
                border-right: solid 1px var(--default);
                border-radius: 0;
                line-height: 32px;
                height: 32px;

                i {
                    margin: 0;
                    font-size: 22px;

                    &:hover {
                        color: var(--red);
                    }

                    &:before {
                        margin-bottom: 6px;
                        vertical-align: bottom;
                    }
                }
            }

            .alert_entries {
                margin-bottom: 15px;

                code {
                    em {
                        color: var(--color8);
                    }

                    strong {
                        color: var(--green-3x);
                    }
                }

                > div {
                    display: flex;
                    border: solid 1px var(--default);
                    border-radius: 5px;
                    overflow: hidden;
                    margin-bottom: 5px;
                    position: relative;

                    > div {
                        flex: 0 1 auto;
                        height: 32px;
                        line-height: 32px;
                        margin-right: 10px;
                    }

                    .fr {
                        position: absolute;
                        right: 10px;
                        top: 8px;
                        color: var(--default-2x);
                    }
                }
            }

            .alert_triggers_form {
                margin-bottom: 8px;
            }
        }

        .alerts_table {
            background-color: var(--table-color-dark);

            h5 {
                font-size: 18px;
                margin-bottom: 12px;
            }

            small {
                font-size: 13px;
                color: var(--color6);
            }

            .box {
                margin-bottom: 0;
            }

            .alert_triggers_sent {
                font-size: 14px;
                margin-top: 5px;
            }

            .alert_info {
                font-size: 14px;
                margin-bottom: 5px;

                i {
                    vertical-align: bottom;
                    margin-bottom: -1px;
                    display: inline-block;
                    font-size: 18px;
                }

                em {
                    font-style: normal;
                    color: var(--purple);
                    display: inline-block;
                    margin-right: 10px;
                }

                span {
                    display: inline-block;
                    margin-right: 10px;
                }
            }

            .btn_alert_delete {
                display: inline-block;
                background-color: var(--red);
                border: none;
                color: #fff;
                padding: 5px 8px;
                border-radius: 2px;
                cursor: pointer;
                outline: none;

                &:hover {
                    background-color: var(--red-3x);
                }
            }
        }
    }
}
