:root {
    --columnLeft: 200px;
    --columnMid: 100%;
    --columnRight: 360px;
    --box-padding: 16px;
}

.product {
    display: flex;
    padding-bottom: 20px;

    > div:nth-of-type(1) {
        flex: 0 1 var(--columnLeft);
        position: relative;

        .icon {
            display: block;
            margin: 0 auto;

            text-align: center;
            border-radius: 6px;
            margin-bottom: 30px;
            padding: 20px 0;

            &.icon-rarity-1 { box-shadow: inset 0 0 200px rgba(129, 128, 123, 0.25); }
            &.icon-rarity-2 { box-shadow: inset 0 0 200px rgba(137, 255, 188, 0.25); }
            &.icon-rarity-3 { box-shadow: inset 0 0 200px rgba(61, 175, 255, 0.25); }
            &.icon-rarity-4 { box-shadow: inset 0 0 200px rgba(244, 75, 255, 0.25); }
            &.icon-rarity-7 { box-shadow: inset 0 0 200px rgba(255, 126, 133, 0.25); }

            img {
                border-radius: 6px;
                box-shadow: 0 0 5px #000;
            }
        }

        .menu {
            width: var(--columnLeft);
            position: relative;

            &.fixed {
                position: fixed;
                top: 20px;
            }

            .home-world {
                color: var(--green-4x);
            }

            > h4 {
                margin-top: 20px;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                border: solid 1px var(--table-color);
                border-radius: 4px;
                padding: 12px 0;
                line-height: 22px;
                color: var(--table-color-3x);
            }

            > button {
                width: 100%;
                margin-bottom: 5px;
                text-align: left;
                line-height: 46px;
                height: 46px;
                font-size: 19px;
                background-color: transparent;
                border: solid 1px transparent;
                border-radius: 4px;
                color: #fff;
                display: block;
                outline: none;
                cursor: pointer;
                transition: 100ms;
                padding: 0 15px;

                em {
                    float: right;
                }

                > span {
                    font-size: 24px;
                    vertical-align: bottom;
                    margin: 0 5px -2px 0px;
                    display: inline-block;

                    &.cw-icon {
                        margin: 0 5px -5px 0px;
                    }
                }

                &:hover {
                    color: var(--purple-3x);
                    border: solid 1px var(--table-color-dark);
                }

                &.open {
                    border: solid 1px var(--purple-2x);
                    color: var(--purple-3x);
                }
            }
        }
    }

    > div:nth-of-type(2) {
        flex: 0 1 calc(var(--columnMid) - var(--columnLeft) - var(--columnRight));
        padding: 0 30px;

        i {
            font-size: 24px;
            vertical-align: bottom;
            display: inline-block;
            margin: 0 0 -4px 0;
        }

        .patch {
            float: right;
            font-size: 12px;
            color: #666;
        }

        .info {
            line-height: 42px;
            height: 44px;
            border: solid 1px var(--table-color);
            border-radius: 6px;
            display: flex;
            margin-bottom: 20px;

            span,
            button {
                display: inline-block;
                padding: 0 15px;
                border-right: solid 1px var(--table-color);
            }

            button {
                background-color: transparent;
                border: none;
                border-right: solid 1px var(--table-color);
                color: #fff;
                outline: none;
                cursor: pointer;
                transition: 100ms;

                &:hover {
                    background-color: rgba(80,80,80,0.4);
                    color: var(--blue-3x);
                }
            }

            em {
                display: inline-block;
                margin-right: 8px;
                color: var(--color6);
            }

            img {
                vertical-align: middle;
                max-height: 16px;
                max-width: 16px;
            }
        }

        .tab-prices,
        .tab-history,
        .tab-details,
        .tab-page {
            display: none;

            &.open {
                display: block;
            }
        }

        .tab-prices,
        .tab-history,
        .tab-page {
            .table {
                tr:hover {
                    background-color: rgba(80,80,80,0.3);
                }

                i {
                    font-size: 20px;
                    vertical-align: middle;
                }

                img {
                    vertical-align: middle;
                }

                .price-num {
                    color: #555;
                }

                .price-hq {
                    text-align: center;
                }

                .price-qty {
                    color: #aaa;
                    font-weight: 600;
                }

                .price-current {
                    color: #dddc87;
                    text-align: right;
                }

                .price-total {
                    color: #afffa1;
                    text-align: right;
                }

                .price-retainer,
                .price-creator,
                .price-buyer,
                .price-date {
                    text-align: right;
                    color: #aaa;
                }

                .materia {
                    img {
                        border-radius: 30px;
                    }
                }
            }
        }
    }

    > div:nth-of-type(3) {
        flex: 0 1 var(--columnRight);

        .box {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            overflow: hidden;
            background-color: var(--table-color-dark);
            margin-bottom: 20px;

            &.box-language {
                em {
                    display: inline-block;
                    font-style: normal;
                    color: var(--purple-3x);
                    opacity: 0.5;
                }
            }

            .box_title {
                padding: 10px;
                border-bottom: solid 1px var(--table-color);
                color: var(--table-color-3x);
                text-align: center;
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .box_row {
                padding: 10px;
                border-bottom: solid 1px var(--table-color);
            }

            .box_form {
                padding: 10px;
                background-color: var(--table-color-dark);
                transition: 100ms;

                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 14px;
                }

                .box_flex {
                    display: flex;

                    > button {
                        width: 50%;

                        &:first-of-type {
                            margin-right: 10px;
                        }

                        &:last-of-type {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .box_updated {
            display: flex;

            > div:nth-of-type(1) {
                flex: 0 1 50%;
                padding: 15px;

                h6 {
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--table-color-3x);
                    text-transform: uppercase;
                    text-shadow: none;
                    margin-bottom: 4px;
                }
            }

            > div:nth-of-type(2) {
                flex: 0 1 50%;
                padding: 15px;
                text-align: right;

                button i {
                    vertical-align: middle;
                }
            }
        }
    }

    .cw-history,
    .cw-prices {
        display: none;

        &.open {
            display: block;
        }
    }
}
