.welcome-banner {
    text-align: center;
    margin: 20px 0;

    h1 {
        font-size: 16px;
        opacity: 0.5;
    }

    p {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #666;
    }
}

.home {
    display: flex;

    > div:nth-of-type(1) {
        flex: 0 1 400px;
    }

    > div:nth-of-type(2) {
        flex: 0 1 calc(100% - 400px - 400px);
        padding: 0 20px;
    }

    > div:nth-of-type(3) {
        flex: 0 1 400px;
    }

    .home-outline,
    .home-box {
        padding: 15px;
        border-radius: var(--general-border-radius);
        margin-bottom: 10px;

        p:last-of-type {
            margin: 0;
        }
    }

    .home-outline {
        border: solid 1px var(--default-3x);
    }

    .home-box {
        background-color: var(--default-3x);
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    }

    ul {
        margin: 10px 0 30px 50px;
        list-style: disc;

        li {
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.home-patron {
    background-color: #f96854;
    border-radius: 6px;
    overflow: hidden;

    display: flex;

    > div:first-of-type {
        flex: 0 1 70px;
        text-align: center;
        padding: 14px 4px 10px 10px;

        img {
            margin-bottom: -5px;
        }
    }

    > div:last-of-type {
        flex: 0 1 calc(100% - 70px);
        padding: 10px 0 10px 20px;
        background-color: #f96854;
        transition: 100ms;

        &:hover {
            background-color: #ff897b;
        }
    }

    text-shadow: none;
    color: #052d49;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;

    &:hover, &:focus {
        color: #052d49;
    }
}
