//
// MOGBOARD THEME
//
:root {
    --color1: #5723a2;
    --color2: #7a42c9;
    --color3: #e6e6e6;
    --color4: #c1c1c1;
    --color5: #252830;
    --color6: #717988;
    --color7: #1c1c1c;
    --color8: #fff97b;

    --highlight: #fffca6;
    --highlight2x: #b6b476;
    --highlight3x: #feffc8;

    --default: #434857;
    --default-2x: #4f5463;
    --default-3x: #333a41;
    --red: #E64759;
    --red-2x: #b13b4c;
    --red-3x: #ee6b75;
    --blue: #007bff;
    --blue-2x: #005cb8;
    --blue-3x: #58b4ff;
    --green: #1aa571;
    --green-2x: #1a8255;
    --green-3x: #2cdd8f;
    --green-4x: #84fbbe;
    --purple: #9F86FF;
    --purple-2x: #6e5ab4;
    --purple-3x: #adaaff;
    --white: #fff;
    --white-2x: #fff;

    --general-border-radius: 6px;
    --default-outline-size: 1px;
    --table-color: #434857;
    --table-color-2x: #393e4a;
    --table-color-3x: #666d81;
    --table-color-dark: #282b34;
    --search-active: #888a3b;
    --search-complete: #61aa6c;
    --form-field-height: 36px;
    --form-field-height2: 48px;
    --transition-speed: 100ms;
}

// Rarity colors from the game
.rarity-1 { color: #eee; }
.rarity-2 { color: #89ffbc; }
.rarity-3 { color: #3dafff; }
.rarity-4 { color: #f44bff; }
.rarity-7 { color: #ff7e85; }

//
// Primary elements
//

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 2px #000;
    background-color: var(--color7);
    color: #fff;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: 300;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 22px;
}

p {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    color: var(--purple);
    text-decoration: none;

    &:hover, &:focus {
        color: var(--purple-3x);
    }
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

form,
.form {
    button {
        height: var(--form-field-height);
        line-height: var(--form-field-height);
        background-color: var(--default);
        border: none;
        font-size: 16px;
        color: #eee;
        border-radius: 4px;
        padding: 0 12px;
        text-shadow: 0 1px 2px rgba(0,0,0,0.8);
        cursor: pointer;
        transition: var(--transition-speed);
        outline: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);

        i {
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
        }

        &:disabled {
            opacity: 0.75;
        }

        &:hover {
            background-color: var(--default-2x);
        }

        &.btn-red {
            background-color: var(--red);

            &:hover {
                background-color: var(--red-2x);
            }
        }

        &.btn-blue {
            background-color: var(--blue);

            &:hover {
                background-color: var(--blue-2x);
            }
        }

        &.btn-green {
            background-color: var(--green);

            &:hover {
                background-color: var(--green-2x);
            }
        }

        &.btn-purple {
            background-color: var(--purple);

            &:hover {
                background-color: var(--purple-2x);
            }
        }

        &.btn-white {
            color: #333;
            text-shadow: none;
            background-color: var(--white);

            &:hover {
                background-color: var(--white-2x);
            }
        }

        &.btn-outline,
        &.btn-red-outline,
        &.btn-blue-outline,
        &.btn-green-outline,
        &.btn-purple-outline,
        &.btn-white-outline
        {
            background-color: transparent;
            box-shadow: none;
        }

        &.btn-outline {
            border: solid var(--default-outline-size) var(--default);

            &:hover {
                border: solid var(--default-outline-size) var(--default-2x);
            }
        }

        &.btn-red-outline {
            border: solid var(--default-outline-size) var(--red);

            &:hover {
                border: solid var(--default-outline-size) var(--red-2x);
            }
        }

        &.btn-blue-outline {
            border: solid var(--default-outline-size) var(--blue);

            &:hover {
                border: solid var(--default-outline-size) var(--blue-2x);
            }
        }

        &.btn-green-outline {
            border: solid var(--default-outline-size) var(--green);

            &:hover {
                border: solid var(--default-outline-size) var(--green-2x);
            }
        }

        &.btn-purple-outline {
            border: solid var(--default-outline-size) var(--purple);

            &:hover {
                border: solid var(--default-outline-size) var(--purple-2x);
            }
        }

        &.btn-white-outline {
            border: solid var(--default-outline-size) var(--white);

            &:hover {
                border: solid var(--default-outline-size) var(--white-2x);
            }
        }

        &.full {
            width: 100%;
        }

        &.btn_loading {
            i {
                margin: 0;
                font-size: 28px;
                height: 28px;
                width: 28px;
                margin-top: -2px;

                animation-name: btn_loading_loop;
                animation-duration: 1200ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            @keyframes btn_loading_loop {
                0% { transform: rotate(0deg) }
                100% { transform: rotate(360deg) }
            }
        }
    }

    label {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #aaa;
        display: block;

        &.full {
            width: 100%;
        }
    }

    input[type="text"],
    input[type="search"],
    select {
        height: var(--form-field-height);
        line-height: var(--form-field-height);

        background-color: var(--color3);
        border: none;
        font-size: 16px;
        border-radius: 4px;
        color: #333;
        padding: 0 10px;
        transition: var(--transition-speed);
        outline: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);

        &:hover {
            background-color: #fff;
        }

        &.full {
            width: 100%;
        }

        &.big {
            height: var(--form-field-height2);
            line-height: var(--form-field-height2);

            font-size: 20px;
            padding: 0 15px;
        }
    }

    .checkbox {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        padding: 15px 0;
        position: relative;

        label {
            position: relative;
            font-size: 17px;
            color: #fff;
            display: inline-block;
            padding: 1px 0 0 30px;
            outline: none;
            cursor: pointer;

            &::before,
            &::after {
                position: absolute;
                content: "";
                display: inline-block;
            }

            &::before{
                height: 18px;
                width: 18px;
                border: 1px solid rgba(255,255,255,0.3);
                left: 0;
                top: -1px;
                border-radius: 3px;
            }

            &:hover &::before {
                border: 1px solid rgba(255,255,255,0.8);
            }

            &::after {
                height: 6px;
                width: 10px;
                left: 4px;
                top: 4px;
                border-left: 2px solid var(--highlight);
                border-bottom: 2px solid var(--highlight);
                transform: rotate(-45deg);
            }
        }

        input[type="checkbox"] {
            opacity: 0;
            position: absolute;

            &:checked + label::after {
                content: "";
            }

            & + label::after {
                content: none;
            }
        }
    }

    .form_row {
        margin-bottom: 20px;
    }
}

.table {
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    border-radius: 4px;
    overflow: hidden;

    table {
        width: 100%;

        thead {
            background-color: var(--table-color);
            border-bottom: solid 1px var(--table-color);
            box-shadow: 0 1px 5px rgba(0,0,0,0.3);

            th {
                font-size: 14px;
                font-weight: 600;
                color: #aaa;
                text-transform: uppercase;
            }
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: solid 1px var(--table-color);
        }

        td {
            border-right: solid 1px var(--table-color);

            &:last-of-type {
                border-right: none;
            }
        }

        tr {
            transition: 100ms;
        }

        tr:last-of-type {
            th, td {
                border-bottom: none;
            }
        }

        &.striped tr:nth-of-type(even) {
            background-color: rgba(80,80,80,0.1);
        }
    }
}


hr {
    border: none;
    background-color: var(--default-2x);
    height: 2px;
    margin: 30px 0;
}

header {
    width: 100%;
    display: flex;

    > div {
        padding: 30px 30px 20px 30px;
    }

    > div:first-of-type {
        display: flex;
        flex: 0 1 70%;

        > div {
            flex: 0 1 auto;
            padding-right: 20px;
        }

        .btn-home {
            color: #fff;
            font-size: 40px;
            line-height: 40px;
            display: inline-block;

            img {
                transition: var(--transition-speed);
                margin: -20px 0 0 0;

                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                opacity: 0.6;
            }

            &:hover img {
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%);
                opacity: 1;
            }
        }

        .search {
            height: 50px;
            width: 500px;
            margin: 0 0 0 10px;
            font-size: 19px;
            border-radius: var(--general-border-radius);
            padding: 12px 20px;
            transition: var(--transition-speed);
            outline: none;

            background-color: transparent;
            border: solid 1px var(--default-2x);
            color: #fff;
            box-shadow: inset 0 0 3px #000;

            &:hover {
                background-color: rgba(0,0,0,0.2);
            }

            &.typing {
                animation-name: search_typing;
                animation-duration: 2800ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                @keyframes search_typing {
                    0% { border: solid 1px var(--default-2x); }
                    35% { border: solid 1px var(--search-active); }
                    100% { border: solid 1px var(--default-2x); }
                }
            }

            &.complete {
                border: solid 1px var(--search-complete);
            }
        }

        nav {
            display: flex;

            .btn-market-board {
                height: 50px;
                transition: var(--transition-speed);
                margin: 0 15px 0 0;
                position: relative;
                padding: 0 20px 0 55px;
                font-size: 19px;
                font-weight: 400;
                border-radius: var(--general-border-radius);

                background-color: transparent;
                border: solid 1px var(--default);
                color: #aaa;

                span {
                    font-size: 28px;
                    line-height: 0;
                    position: absolute;
                    left: 16px;
                    top: 10px;
                }

                &:hover {
                    border: solid 1px var(--default-2x);
                    background-color: rgba(0,0,0,0.1);
                    color: #fff;
                }
            }
        }
    }

    > div:last-of-type {
        display: flex;
        flex: 0 1 30%;
        text-align: right;
        flex-direction: row;
        justify-content: flex-end;

        > div {
            flex: 0 1 auto;
            padding-left: 20px;
        }

        a {
            color: #888;
            display: inline-block;
            font-size: 20px;
            font-weight: 300;
            padding: 15px 20px 0 0;
        }

        .username {
            color: var(--color8);
            display: inline-block;
            font-size: 20px;
            font-weight: 300;
            padding: 15px 0 0 0;
        }

        .img-avatar {
            border-radius: 50px;
            box-shadow: 0 1px 5px #000;
        }

        .btn-login {
            background-color: var(--purple-2x);
            border-radius: 3px;
            box-shadow: 0 1px 3px #000;
            color: #fff;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            font-weight: 600;
            font-size: 17px;
            transition: 100ms;
            margin-top: 3px;

            &:hover {
                background-color: var(--purple);
            }
        }

        .btn-settings {
            height: var(--form-field-height);
            border: none;
            padding: 6px 2px 0 2px;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            margin: 0 10px;

            > span {
                font-size: 32px;
                color: #444;
                transition: var(--transition-speed);
            }

            &:hover > span {
                color: #888;
            }
        }
    }
}

main {
    padding: 30px 110px;
}

footer {
    opacity: 0.5;
    text-align: center;
    padding: 40px 0;
    color: #ccc;
    font-size: 15px;
    line-height: 22px;

    em {
        color: var(--blue-3x);
        font-style: normal;
    }

    small {
        font-size: 13px;
    }
}

//
// Custom elements
//
.text-red { color: var(--red-3x) };
.text-blue { color: var(--blue-3x) };
.text-green { color: var(--green-3x) };
.text-purple { color: var(--purple-3x) };
.text-white  { color: var(--white ) };

.alert-red,
.alert-blue,
.alert-green,
.alert-purple,
.alert-white {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;

    h1 {
        font-size: 32px;
        font-weight: 400;
    }

    p {
        font-size: 18px;
        margin-bottom: 0;
    }
}

.alert-red {
    background-color: var(--red);
}
.alert-blue {
    background-color: var(--blue);
}
.alert-green {
    background-color: var(--green);
}
.alert-purple {
    background-color: var(--purple);
}
.alert-white {
    background-color: var(--white);
    color: #333;
    text-shadow: none;
}

.badge-red,
.badge-blue,
.badge-green,
.badge-purple,
.badge-white {
    padding: 4px 6px;
    border-radius: 30px;
}

.badge-red {
    background-color: var(--red);
}
.badge-blue {
    background-color: var(--blue);
}
.badge-green {
    background-color: var(--green);
}
.badge-purple {
    background-color: var(--purple);
}
.badge-white {
    background-color: var(--white);
    color: #333;
    text-shadow: none;
}

//
// Misc elements
//
.loading {
    margin: 50px auto;
    text-align: center;

    img {
        height: 200px;
    }
}

.modal_settings
{
    .modal_settings-form {
        display: flex;

        input {
            margin-right: 15px;
            width: 260px;
        }
    }

    .logout {
        color: rgba(255, 79, 71, 0.84);
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.search-results-container {
    position: absolute;
    top: 70px;
    left: 89px;
    padding: 20px;
    display: none;
    z-index: 50;

    &.open {
        display: block;
    }
}

.search-results {
    background-color: var(--color5);
    border-radius: 6px;
    box-shadow: 0 1px 10px #111, inset 0 0 3px #333;
    overflow: hidden;
    width: 710px;

    a {
        display: flex;
        width: 100%;
        border-bottom: solid 1px #000;
        line-height: 42px;
        height: 42px;
        padding: 0 10px;
        position: relative;
        overflow: hidden;

        img {
            height: 30px;
            border-radius: 4px;
            box-shadow: 0 1px #000;
            vertical-align: middle;
            margin: -2px 15px 0 0;
        }
    }

    h2 {
        text-align: center;
        padding: 30px;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 26px;
        color: #565c6d;
    }

    .item-level {
        color: #ffcc00;
        display: inline-block;
        margin-right: 10px;
    }

    .item-category {
        position: absolute;
        right: 20px;
        color: #888;
        font-size: 13px;
        text-transform: uppercase;
    }

    .item-search-list {
        min-height: 300px;
        max-height: 1500px;
        overflow-y: scroll;
    }

    .item-search-header {
        display: flex;
        background-color: var(--default);
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
        font-size: 14px;
        margin-bottom: 0;
        height: 40px;
        line-height: 40px;

        > div:first-of-type {
            flex: 0 1 75%;
            padding: 0 15px;
            font-size: 16px;
        }

        > div:last-of-type {
            flex: 0 1 25%;
            text-align: right;

            > button {
                display: inline-block;
                color: #5dd881;
                background-color: rgba(0,0,0,0.2);
                padding: 0 15px;
                height: 40px;
                line-height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 100ms;
                vertical-align: top;

                &:hover {
                    background-color: rgba(0,0,0,0.4);
                }
            }
        }
    }
}

.market-board-container,
.market-category-container {
    position: absolute;
    top: 70px;
    left: 330px;
    padding: 20px;
    display: none;
    z-index: 50;

    &.open {
        display: block;
    }
}

.market-board {
    background-color: var(--color5);
    border-radius: 6px;
    box-shadow: 0 1px 10px #111, inset 0 0 3px #333;
    overflow: hidden;
    width: 800px;
    padding-bottom: 10px;

    h2 {
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 500;
        padding: 5px;
        margin-bottom: 5px;
    }

    .categories {
        padding: 14px 18px;
    }

    .categories-list {
        display: flex;
        flex-wrap: wrap;

        > button {
            flex: 0 1 46px;
            width: 46px;
            height: 46px;
            line-height: 42px;
            background-color: var(--default);
            border: none;
            color: #fff;
            margin: 2px;
            outline: none;
            border-radius: 3px;
            cursor: pointer;
            transition: 100ms;
            text-align: center;
            padding: 0;
            text-shadow: 0 1px 5px #000, 0 1px 5px #000, 0 0 30px rgba(0,0,0,.5);

            &:hover {
                background-color: var(--default-2x);
                color: var(--highlight);
            }

            span {
                font-size: 34px;
                display: inline-block;
                vertical-align: middle;
                margin: 6px 0 0 0;
            }
        }
    }
}

.market-category {
    background-color: var(--color5);
    border-radius: 6px;
    box-shadow: 0 1px 10px #111, inset 0 0 3px #333;
    overflow: hidden;
    width: 800px;
    padding-bottom: 10px;

    a {
        display: flex;
        width: 100%;
        border-bottom: solid 1px #000;
        line-height: 42px;
        height: 42px;
        padding: 0 10px;
        position: relative;
        overflow: hidden;

        img {
            height: 30px;
            border-radius: 4px;
            box-shadow: 0 1px #000;
            vertical-align: middle;
            margin: -2px 15px 0 0;
        }
    }

    .item-category-list {
        min-height: 300px;
        max-height: 1500px;
        overflow-y: scroll;
    }

    .item-category-header {
        display: flex;
        background-color: var(--default);
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
        font-size: 14px;
        margin-bottom: 0;
        height: 40px;
        line-height: 40px;

        > div:first-of-type {
            flex: 0 1 75%;
            padding: 0 15px 0 46px;
            font-size: 16px;
            position: relative;

            span {
                font-size: 30px;
                position: absolute;
                left: 8px;
                top: 4px;
            }
        }

        > div:last-of-type {
            flex: 0 1 25%;
            text-align: right;
            padding-right: 15px;

            > button {
                display: inline-block;
                color: #5dd881;
                background-color: rgba(0,0,0,0.2);
                padding: 0 15px;
                height: 40px;
                line-height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 100ms;
                vertical-align: top;

                &:hover {
                    background-color: rgba(0,0,0,0.4);
                }
            }
        }
    }

    .item-level {
        color: #ffcc00;
        display: inline-block;
        margin-right: 10px;
    }
}
