* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #282828;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    font-size: 16px;
}
body {
    overflow-y: scroll;
}
main {
    max-width: 2400px;
    margin: 0 auto;
}
footer {
    padding: 20px 0 50px 0;
    text-align: center;
    font-size: 13px;
    color: #888;
    line-height: 24px;
}
h1 {
    margin-bottom: 20px;
}

a {
    color: #ffb4ec;
    text-decoration: none;

    &:hover {
        color: #ff93e7;
    }
}
strong {
    font-weight: 600;
}
button.btn {
    font-size: 16px;
    background-color: #115192;
    line-height: 36px;
    padding: 0 12px;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px #000;
    transition: .1s;

    &:hover {
        background-color: #1468b7;
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.4;
    }

    img {
        display: inline-block;
        margin: 0 8px -1px 0;
    }
}

table.table {
    width: 100%;

    background-color: #181818;

    tr {
        border-bottom: solid 1px #333;

        &:last-of-type {
            border-bottom: none;
        }

        &:hover:not(.active) td {
            background-color: #080808;
        }
    }

    td {
        padding: 10px;
        border-right: dashed 1px #222;

        font-size: 16px;

        &:last-of-type {
            border: none;
        }

        small {
            font-size: 14px;
            color: #888;
        }
    }

    thead {
        tr {
            box-shadow: 0 1px 5px #000;
            position: relative;
            z-index: 13;
        }

        th {
            background-color: #444;
            padding: 10px;
            font-size: 12px;
            text-transform: uppercase;
            border-right: solid 1px #000;
            border-bottom: solid 1px #000;
            position: sticky;
            top: 0;

            &:hover {
                z-index: 20;
                box-shadow: 0 1px 5px #000;
                background-color: #333;
                cursor: pointer;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
}

form.form {
    label {
        font-size: 14px;
        color: #eeeeee;
        display: block;
        margin-bottom: 5px;
    }

    input, select, textarea {
        color: #000;
        border: none;
        padding: 8px;
        border-radius: 4px;
        display: block;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        width: 100%;
        outline: none;
    }

    .row {
        display: block;
        margin-bottom: 20px;
    }

    .row-flex {
        display: flex;
        margin-bottom: 20px;

        > div {
            flex: 0 1 auto;
            margin-right: 10px;
        }
    }
}

//
// In-game rarity colours
//
.rarity-1 { color: #eee; }
.rarity-2 { color: #89ffbc; }
.rarity-3 { color: #3dafff; }
.rarity-4 { color: #f44bff; }
.rarity-7 { color: #ff7e85; }
