html {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    background-image: url("https://raw.githubusercontent.com/viion/marketboard/master/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ccc;
    font-size: 16px;
    text-shadow: 0 1px 2px #000;
}
a {
    color: #ffcafd;
}
em {
    font-style: italic;
}
//
// Layout
//
main {
    display: flex;
}
nav {
    position: relative;
    z-index: 50;

    background-color: #333;
    flex: 0 1 300px;
    padding-bottom: 100px;
    border-right: solid 1px #000;
    box-shadow: 1px 0 5px #000;

    hr {
        background-color: #000;
        height: 1px;
        margin: 0;
        border: none;
    }

    button {
        width: 100%;
        display: flex;
        background-color: transparent;
        border: none;
        padding: 10px;
        color: #fff;
        text-align: left;
        border-bottom: solid 1px #000;
        font-size: 16px;
        text-shadow: 0 1px 2px #000;
        transition: .1s;
        line-height: 24px;
        outline: none;

        &:hover, &:focus, &:active, &.on {
            background-color: #113d63;
            cursor: pointer;
        }

        img {
            flex: 0 1 auto;
            vertical-align: middle;
            margin: 2px 10px 0 10px;
        }

        span {
            flex: 0 1 auto;
        }
    }

    .logo {
        text-align: center;
        padding: 20px 0;

        img {
            height: 80px;
        }

        h1 {
            font-size: 30px;
            font-weight: 700;
            color: #fff;

            span {
                color: yellow;
            }
        }
    }

    .server {
        text-align: center;
        padding: 0 0 20px 0;
    }

    .market-categories {
        div {
            border-bottom: solid 10px #000;
        }
    }

    p {
        margin-bottom: 15px;
    }
}
section {
    flex: 0 1 calc(100% - 300px);

    .search {
        position: relative;
        z-index: 30;
        box-shadow: 0 1px 3px #000;
        background-color: #333;
        width: 500px + 660px;
        padding: 10px;
        border-radius: 0 0 6px 0;

        input {
            width: 100%;
            font-size: 20px;
            font-weight: 300;
            color: #f8ffb7;
            outline: none;
            line-height: 48px;
            padding: 0 15px;
            border: solid 1px #000;
            box-shadow: 0 1px 5px #222;
            border-radius: 3px;
            background-color: #515151;
        }
    }

    .search-results {
        margin: 0 -10px;
        display: none;

        &.on {
            display: block;
        }

        .search-results-info {
            padding: 10px;
            color: #fff;
            font-weight: 400;
            font-size: 16px;
        }

        button {
            position: relative;
            width: 100%;
            display: flex;
            background-color: #181818;
            border: none;
            padding: 10px;
            color: #fff;
            text-align: left;
            border-bottom: solid 1px #000;
            font-size: 16px;
            text-shadow: 0 1px 2px #000;
            transition: .1s;
            line-height: 24px;
            outline: none;

            &:hover, &:focus, &:active, &.on {
                background-color: #113d63;
                cursor: pointer;
            }

            &.rarity-2 {
                color: #89ffbc;
            }

            &.rarity-3 {
                color: #3dafff;
            }

            &.rarity-4 {
                color: #f44bff;
            }

            &.rarity-7 {
                color: #ff7e85;
            }

            img {
                flex: 0 1 auto;
                vertical-align: middle;
                margin: 0 10px 0 10px;
                height: 24px;
                width: 24px;
                border-radius: 5px;
            }

            span {
                position: absolute;
                right: 10px;
                top: 10px;
                color: #888;
                text-transform: uppercase;
                font-size: 12px;
            }

            em {
                color: yellow;
                display: inline-block;
                padding: 0 10px 0 0;
            }
        }
    }

    .home {
        box-shadow: 0 1px 3px #000;
        background-color: #151515;
        width: 500px + 580px;
        padding: 60px 50px 50px 50px;
        border-radius: 0 0 6px 0;
        margin-top: -10px;
        display: none;
        font-size: 18px;
        line-height: 24px;

        .beta {
            padding: 20px;
            border-radius: 5px;
            background-color: #262626;
            margin-bottom: 30px;

            h4 {
                font-size: 26px;
                font-weight: 300;
                margin-bottom: 15px;
            }
        }

        &.on {
            display: flex;
        }

        > div:first-of-type {
            flex: 0 1 calc(100% - 350px);
            padding-right: 50px;
        }

        > div:last-of-type {
            flex: 0 1 350px;
        }

        h1 {
            font-size: 32px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 20px;
            color: #ed6fff;
        }

        strong {
            color: #e2ec7a;
            font-weight: 800;
        }

        p {
            margin-bottom: 20px;
        }

        hr {
            height: 5px;
            background-color: #1f527a;
            border: none;
            margin: 30px 0;
        }

        small {
            font-size: 14px;
            color: #666;
        }

        ul {
            display: block;
            list-style: square inside;

            li {
                margin-left: 30px;
            }
        }
    }

    > div.content {
        display: flex;

        > .market-category-stock-ui {
            background-color: #181818;
            border: solid 1px #000;
            border-radius: 0 0 5px 0;
            box-shadow: 0 1px 10px rgba(0,0,0,0.3);
            flex: 0 1 500px;
            padding: 10px 0;
            display: none;
            position: relative;
            overflow: hidden;
            transition: .2s;

            &.on {
                display: block;
            }

            &.mini {
                flex: 0 1 80px;

                button div:nth-of-type(2) {
                    opacity: 0;
                }
            }
        }

        > .item-market-ui {
            background-color: #080808;
            border: solid 1px #000;
            border-radius: 0 0 5px 0;
            box-shadow: 0 1px 10px rgba(0,0,0,0.3);
            flex: 0 1 680px;
            display: none;

            &.on {
                display: block;
            }
        }
    }

    .market-category-stock {
        width: 500px;

        button {
            width: 100%;
            display: flex;
            line-height: 50px;
            border: none;
            border-bottom: solid 1px #000;
            color: #fff;
            background-color: transparent;
            text-align: left;
            padding: 0 20px;
            font-size: 18px;
            transition: .1s;
            outline: none;

            &:nth-child(even) {
                background-color: #222;
            }

            div:first-of-type {
                flex: 0 1 40px;

                span {
                    border-radius: 5px;
                    box-shadow: 0 1px 3px #000;
                    margin: 5px 0 0 0;

                    position: relative;
                    display: block;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                }

                img {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    left: 0;
                    top: 0;
                }
            }

            div:last-of-type {
                flex: 0 1 calc(100% - 100px);
                padding-left: 10px;
            }

            span {
                font-size: 20px;
                flex: 0 1 60px;
                text-align: right;
                color: #fffba7;
            }

            &.rarity-2 {
                color: #89ffbc;
            }

            &.rarity-3 {
                color: #3dafff;
            }

            &.rarity-4 {
                color: #f44bff;
            }

            &.rarity-7 {
                color: #ff7e85;
            }

            &:hover, &:focus, &:active, &.on {
                background-color: #113d63;
                cursor: pointer;
            }
        }
    }

    .item-info {
        padding: 30px 0 10px 30px;
        display: flex;
        position: relative;

        .refresh-listing {
            position: absolute;
            right: 20px;
            border: solid 1px #000;
            background-color: #163039;
            color: #fff;
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 13px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            box-shadow: 0 1px 3px #000;
            transition: .1s;
            opacity: 0.6;

            &:hover, &:focus, &:active {
                background-color: #243b60;
                opacity: 1;
            }
        }

        img {
            flex: 0 1 40px;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            box-shadow: 0 1px 3px #000;
        }

        div {
            flex: 0 1 calc(100% - 40px);
            padding-left: 20px;
        }

        p {
            margin-bottom: 5px;
        }

        h1 {
            font-size: 24px;
            font-weight: 300;
            color: #fff;
            margin: 0 0 5px 0;

            &.rarity-2 {
                color: #89ffbc;
            }

            &.rarity-3 {
                color: #3dafff;
            }

            &.rarity-4 {
                color: #f44bff;
            }

            &.rarity-7 {
                color: #ff7e85;
            }
        }
    }

    .market-item-prices,
    .market-item-history,
    .market-item-dc {
        padding: 5px 20px;

        h2 {
            font-size: 18px;
            color: #444;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            padding: 10px;
        }

        small {
            text-align: center;
            font-size: 13px;
            color: #666;
            width: 100%;
            display: block;
            text-transform: uppercase;
        }
    }

    .market-item-history-stats {
        display: flex;

        h4 {
            font-size: 12px;
            font-weight: 600;
            color: #5ea2dc;
            margin-bottom: 5px;
            letter-spacing: 2px;

            padding: 10px;
            text-align: center;
            background-color: #222;
            border-radius: 3px;
        }

        h3 {
            font-size: 12px;
            font-weight: 400;
            color: #666;
            margin-bottom: 5px;
        }

        > div {
            flex: 0 1 50%;
            margin-bottom: 5px;
            text-align: center;

            &:first-of-type {
                margin-right: 2px;
            }

            &:last-of-type {
                margin-left: 2px;
            }

            > div {
                display: flex;

                > div {
                    flex: 0 1 33%;
                    padding: 10px;
                    text-align: center;
                    background-color: #222;
                    border-radius: 3px;

                    &:nth-of-type(2) {
                        margin: 0 4px;
                    }
                }
            }
        }
    }

    .market-item-history-chart {
        padding: 10px;
        background-color: #222;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .market-item-prices-cheap {
        font-size: 16px;
        font-weight: 400;
        color: #666;
        text-transform: uppercase;

        background-color: #181818;
        border-radius: 5px;
        margin-bottom: 5px;
        line-height: 24px;
        display: flex;
        overflow: hidden;

        > div {
            flex: 0 1 50%;
            padding: 5px 10px;

            &:first-of-type {
                background-color: #162e20;
                border-right: solid 1px #000;
            }

            &:last-of-type {
                background-color: #331d18;
                border-left: solid 1px #000;
                text-align: right;
            }
        }

        img {
            vertical-align: middle;
            margin: 0 0 2px 0;
        }

        span {
            color: #c5c574;
        }

        strong {
            display: inline-block;
            font-weight: 900;
            color: #818181;
            width: 55px;
        }
    }

    .market-item-dc-btn {
        width: 100%;
        border: solid 1px #000;
        background-color: #144286;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 1px 5px #000;
        cursor: pointer;
        transition: .2s;

        &:hover, &:active, &:focus {
            background-color: #113365;
        }
    }

    .max-size {
        max-height: 400px;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        position: relative;

        .show-more {
            position: absolute;
            bottom: 0; left: 0; right: 10px;
            width: 100%;
            display: block;
            line-height: 32px;
            font-size: 14px;
            text-transform: uppercase;
            border: none;
            color: #888;
            background-color: #282828;
            box-shadow: 0 0 10px 1px #000;
            outline: none;
            transition: .1s;

            &:hover, &:focus, &:active {
                background-color: #181818;
                cursor: pointer;
            }
        }

        &.off {
            max-height: 100%;

            .show-more {
                display: none;
            }
        }
    }

    .market-category-toggle {
        float: right;
        margin: 0 20px 10px 0;
        background-color: #282828;
        border: solid 1px #000;
        border-radius: 5px;
        color: #aaa;
        box-shadow: 0 1px 3px #000;
        padding: 4px 12px;
        cursor: pointer;
        outline: none;
    }
}
footer {
    font-size: 12px;
    color: #555;
    text-align: center;
    padding: 20px;
}
table {
    width: 100%;
    background-color: #222;
    border-radius: 6px;
    overflow: hidden;

    td {
        padding: 12px;
        border-right: solid 2px #000;

        &:last-of-type {
            border-right: none;
        }

        &.price {
            color: #c5c574;
        }

        &.title {
            font-weight: 600;
        }

        img {
            margin: -8px 0;

            &.hq {
                margin: 4px 0 0 0;
            }
        }

        small {
            color: #555;
            text-align: center;
        }
    }

    tr {
        border-bottom: solid 2px #000;

        &:hover {
            background-color: #161616;
        }

        &.cheapest {
            background-color: #162e20;
        }

        &.expensive {
            background-color: #331d18;
        }
    }

    th {
        position: relative;
        z-index: 5;
        padding: 12px;
        text-align: left;
        font-size: 13px;
        text-transform: uppercase;
        box-shadow: 0 1px 2px #000;
        background-color: #181818;
        color: #5ea2dc;
        font-weight: 600;
    }
}
.market-item-dc tr.cheapest {
    background-color: #162e20;

    td:nth-of-type(5), td:nth-of-type(6) {
        background-color: #1a412f;
    }
}
.market-item-dc tr.expensive {
    background-color: #331d18;

    td:nth-of-type(3), td:nth-of-type(4) {
        background-color: #4a2e1e;
    }
}
//
// Forms
//
select {
    border: solid 1px #000;
    padding: 8px;
    color: #222;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 1px 2px #000;
    cursor: pointer;
}
//
// Misc
//
.loading {
    padding: 30px;
    text-align: center;
    font-size: 24px;
    color: #555;
}
.error {
    margin: 50px 20px 20px 20px;
    background-color: #313131;
    border: solid 2px coral;
    box-shadow: inset 0 0 20px #686868;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
}
