{% extends 'Admin/base.html.twig' %}

{% block body %}

    <div>
        <button id="test-discord">Send discord test msg</button>
        <button id="test-mail">Send test mail</button>
    </div>

    <h2>Real-time Statistics</h2>

    <div>
        <button id="reset">Reset</button>
    </div>

    <br><br>

    <code><pre></pre></code>

    <script>
    function getStatistics() {
        $.get('/admin/tracking_stats', response => {
            $('pre').html(response);
        });
    }

    $('#reset').on('click', event => {
        $.get('/admin/tracking_stats_reset');
    });

    $('#test-discord').on('click', event => {
        $.get('/admin/test_discord');
    });

    $('#test-mail').on('click', event => {
        $.get('/admin/test_mail');
    });

    setInterval(function() {
        getStatistics()
    }, 1000);
    </script>

{% endblock %}
