<div class="modal_cover"></div>

<div class="popup">

    <div class="popup_display">
        <button type="button" class="popup_close_button"><i class="xiv-NavigationClose"></i></button>

        <div class="popup_icon" data-type="success">
            <i class="xiv-SymbolCheck"></i>
        </div>
        <h1></h1>
        <p></p>
    </div>
</div>
