{# Site Settings #}
<div class="modal modal_settings">
    <div class="row row_top">
        <label for="servers">Server</label>
        <p>Choose your primary server, this will also set your Data-Center.</p>
        <div class="form">
            <select id="servers" class="servers">
                {% for dc, servers in getGameDataCenters() %}
                    <optgroup label="{{ dc }}">
                        {% for server in servers %}
                            <option value="{{ server }}">{{ server }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row row_top">
        <label for="languages">Language</label>
        <p>Set the language for the site and search.</p>
        <div class="form">
            <select id="languages" class="languages">
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="de">Deutsche</option>
                <option value="ja">日本人</option>
                {# <option value="kr">한국어</option>
                <option value="cn">中文</option> #}
            </select>
        </div>
    </div>
</div>
