{# Site Settings #}
<div class="modal-settings">
    <div class="row row-top">
        <label for="servers">Server</label>
        <p>Choose your primary server, this will also set your Data Center for cross-world pricing.</p>
        <div class="form">
            <select id="servers" class="servers">
                {% for dc, servers in cache.get('mog_DataCenters') %}
                    <optgroup label="{{ dc }}">
                        {% for server in servers %}
                            <option value="{{ server }}">{{ server }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row row-top">
        <label for="languages">Language</label>
        <p>Set the language for the site, many pages have multi-language displays on them for ease of use.</p>
        <div class="form">
            <select id="languages" class="languages">
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="de">Deutsche</option>
                <option value="ja">日本人</option>
                {# <option value="kr">한국어</option>
                <option value="cn">中文</option> #}
            </select>
        </div>
    </div>

    {% if auth.online() %}
    <div class="row row-top">
        <label>Characters</label>
        <p>Add your very own in-game character! This form uses your primary server.</p>
        <div class="modal-settings-form form">
            <input type="text" placeholder="Name">
            <button type="button">Search</button>
        </div>
    </div>
    <div class="row logout">
        <strong><a href="{{ path('user_logout') }}">Logout</a></strong> of Mogboard.com
    </div>
    {% else %}
    <div class="row">
        <p>
            Login using discord and you'll be able to add your characters,
            track items, sales and retainers! You'll also get a custom
            tailored dashboard that matches your needs!
        </p>
    </div>
    {% endif %}
</div>
