{% extends 'base.html.twig' %}
{% set title = '404 Not Found' %}

{% block body %}
    <div class="alert-light" style="padding: 50px;">
        <div class="tac">
            <h2>404</h2>
            <p>
                Could not find the page you were looking for kupo~!
            </p>
        </div>
    </div>
{% endblock %}
