{% extends 'base.html.twig' %}
{% set title = '404 Not Found' %}

{% block body %}
    <div class="error-page">
        <img src="/i/game/patch_titan.png">
        <h2>404</h2>
        <p>Could not find the page you were looking for kupo~!</p>
    </div>
{% endblock %}
