{% extends 'base.html.twig' %}
{% set title = 'Something went wrong' %}

{% block body %}
    <div class="alert-light" style="padding: 50px;">
        <div class="tac">
            <h2>Something went wrong!</h2>
            <p>
                Error: {{ error.code }} - {{ error.message }}
            </p>
            <p>
                A moogle has been made aware of this problem and will be looking into it for you!
            </p>
            <p>
                <small>hash: {{ error.hash }}</small>
            </p>
        </div>
    </div>
{% endblock %}
