<div class="table">
    <table>
        <tbody>
            {% for alert in alerts %}
                <tr>
                    <td>
                        <strong>{{ alert.triggerHq ? '<img src="/i/game/hq.png" height="12">' : '' }} {{ alert.name }}</strong><br>
                        <div align="right">
                            <button class="btn btn-red btn_delete_alert small" data-url="{{ path('alerts_delete', { alert: alert.id }) }}">Delete</button>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">
                        <div align="center">
                            <em>No alerts for this item</em>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
