<div class="box_updated">
    <div>
        <h6>Updated</h6>
        <div>
            {{ attribute(market, server.name).Updated|date }}
        </div>
    </div>
    <div class="form">
        <button type="button" class="btn-green btn_request_update" data-tippy-content="Request updated pricing.">Refresh</button>
    </div>
</div>
