{% if auth.online() %}
<div class="box_form">
    <div class="box_flex form">
        <button class="btn_addto_list">Lists</button>
        <button class="btn_addto_fave {{ faved ? 'on' : '' }}"><span>{{ faved ? 'Faved' : 'Favourite' }}</span></button>
        {% if canUpdate and auth.online and auth.user.patron %}
        <button class="btn_update">Update</button>
        {% endif %}
    </div>
</div>
{% endif %}

{# todo - list modal #}
<div class="modal list_modal">
    <button type="button" class="modal_close_button"><i class="xiv-NavigationClose"></i></button>
    <div class="modal_row">
        <div class="modal_form_row_1">
            <h1>Add to list</h1>
        </div>

        {# list form #}
        <form method="post" class="modal_form create_list_form">
            {# Name #}
            <p>Option 1) Create a new list:</p>
            {% if auth.user.lists|length < 12 %}
                <div>
                    <input name="list_name" id="list_name" type="text" placeholder="Name" class="full">
                </div>
            {% else %}
                <p>You have reached the maximum of 12 lists. You cannot create anymore.</p>
            {% endif %}

            <br>

            {# Lists #}
            <p>Option 2) Use an existing list:</p>
            <div class="user_lists">
                <div class="user_lists_loading">Loading your item lists</div>
            </div>

            <br><br>

            {# done #}
            <div class="modal_form_end">
                <button type="submit" class="btn-green btn_create_list">Add to list</button>
            </div>

        </form>

    </div>
</div>
