<div class="box_form">
    <div class="box_flex form">
        <button class="btn_addto_fave"><i class="icon-heart-o"></i> Favourite</button>
        <button class="btn_addto_list"><i class="xiv-ScheduleDetails"></i> Add to List</button>
    </div>
</div>

{# todo - list modal #}
