<div class="product-modal product-alert-form">
    <div>
        <h2>Create Alert</h2>

        <form class="form" action="{{ path('create_alert') }}">
            <div class="row">
                <label for="alert-name">Name of your alert</label>
                <input id="alert-name" type="text">
            </div>
            <div class="row">
                <label for="alert-name">Trigger conditions</label>
                <div class="row-flex">
                    <div>
                        <select id="alert-trigger">
                            {% for value, trigger in triggers %}
                                <option value="{{ value }}">{{ trigger }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input placeholder="Value" id="alert-value" type="text">
                    </div>
                    <div>
                        <select id="alert-hq">
                            <option value="1">HQ</option>
                            <option value="2">NQ</option>
                            <option value="3">HQ + NQ</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="product-modal-footer">
        <h3>How alerts work</h3>
        <p>
            Once you have setup your conditions the site will
            monitor the items current price and sale history, if
            the trigger condition is met you will be notified
            by your selected choice. The trigger has a cooldown
            of 5 minutes and will send an alert a maximum
            of 5 times or until you click the item link
            in the alert notification.
        </p>
    </div>
</div>
