<div class="table">
    <table class="table">
        <tbody>
            <tr>
                <td>General Statistics</td>
            </tr>
            <tr>
                <td>HQ/NQ Stats</td>
            </tr>
            <tr>
                <td>Recent Ranking</td>
            </tr>
        </tbody>
    </table>
</div>
