<div class="table">
    <table>
        <tbody>
            <tr>
                <td width="2%"><img src="/i/brand/3rd/garland_tools.png" height="18" class="gt"></td>
                <td><a href="https://garlandtools.org/db/#item/{{ item.ID }}" target="_blank">Garland Tools</a></td>
            </tr>
            <tr>
                <td><img src="/i/brand/3rd/gamer_escape.png" height="18" class="ge"></td>
                <td><a href="https://ffxiv.gamerescape.com/wiki/{{ item.Name_en|replace({ ' ': '_' }) }}" target="_blank">Gamer Escape</a></td>
            </tr>
        </tbody>
    </table>
</div>
