<div class="table">
    <table>
        <tbody>
            <tr>
                <td>Garland Tools</td>
            </tr>
            <tr>
                <td>Gamer Escapes</td>
            </tr>
        </tbody>
    </table>
</div>
