<div class="table">
    <table>
        <tbody>
            <tr>
                <td width="2%"><img src="/i/brand/3rd/garland_tools.png" height="18" class="gt"></td>
                <td><a href="https://garlandtools.org/db/#item/{{ item.ID }}" target="_blank">Garland Tools</a></td>
            </tr>
            <tr>
                <td><img src="/i/brand/3rd/gamer_escape.png" height="18" class="ge"></td>
                <td><a href="https://ffxiv.gamerescape.com/wiki/{{ item.Name_en|replace({ ' ': '_' }) }}" target="_blank">Gamer Escape</a></td>
            </tr>
            <tr>
                {# need to know if it's craftable #}
                {# https://ffxivteamcraft.com/add-item/{{ (content.item.id ~','~ content.id)|base64encode }} #}
                <td><img src="/i/brand/3rd/team_craft.png" height="18" class="tc"></td>
                <td>Teamcraft</td>
            </tr>
        </tbody>
    </table>
</div>
