{% extends 'News/news.html.twig' %}
{% set title = 'Homepage, retainer and list changes + player privacy adjustments' %}
{% set description = 'Today brings new changes to the home page, retainers and lists + adjustments to players privacy' %}

{% block news %}

    <h3>Homepage, retainer and list changes + player privacy adjustments</h3>
    <small><strong>Posted:</strong> Monday 20th May, 2019</small>

    <br>

    <h4 class="text-green">New Homepage!</h4>

    <p>
        Today brings a brand new home page. The goal is to build on this
        by adding more market information that is relevant to you. This first
        pass is just to get a lot of the ground work in (Feed generation, data aggregation, etc).
    </p>

    <p>
        With this new homepage you can get:
    </p>
    <ul>
        <li>
            A centralised feed called <strong>Market Activity</strong>, this will pull in
            information on when your alerts get triggered, as well as price updates
            for items on any of your lists (You must have a verified character for this to work).
        </li>
        <li>All your lists are visible in tabs and can be accessed on the left</li>
        <li>All your alerts are on the left and clicking into them will show recent events for each alert on an item.</li>
    </ul>

    <a href="/news/mb1.png" target="_blank" class="news-img">
        <img src="/news/mb1.png">
    </a>

    <hr>

    <h4 class="text-green">Lists now have market info!</h4>

    <p>
        This was heavily demanded, you can now fetch in market info for lists. Lists
        can have 20 items and you can make 10 lists, Each list has its own page
        which fetches in the top 5 prices and the top 5 last sales DC-Wide for your entire
        list.
    </p>

    <p>
        Lists can be shared to anyone using the URL. Their privacy is Public so long as you know the URL.
    </p>

    <a href="/news/mb4.png" target="_blank" class="news-img">
        <img src="/news/mb4.png">
    </a>

    <hr>

    <h4 class="text-green">Retainers now have market info</h4>

    <p>
        Just like lists, your retainers will also fetch in market information. This means
        you can compare your current price (the top table) against the current cheapest
        on your DC as well as the last 5 sales on your DC.
    </p>

    <a href="/news/mb2.png" target="_blank" class="news-img">
        <img src="/news/mb2.png">
    </a>

    <hr>

    <h4 class="text-blue">Privacy Changes</h4>

    <p>
        After much thought and discussion: <strong>Retainer pages are now private</strong>, you
        will not be able to see the stuff another retainer is selling on Mogboard. I had
        a lot of people message be regarding their concerns on this and had to think what
        benefit this page actually brings to the table... So as of now you must be the owner
        of the retainer, verified it and be logged in to view your own retainer pages.
    </p>

    <p>
        The original idea was to have retainer pages as a sort of "Shop", however I think
        building this as a feature in-it self is more valuable. So the goal will be to
        implement a custom "Shop" feature where you can put your own prices for any item
        up, you can link your retainer if you wish to, you can even set prices for
        non-market board things such as crafted gear commissions. This will integrate
        into Teamcraft to provide a much more personalised page than basic "Retainer Sells X/Maybe".
    </p>

    <hr>

    <p>
        There have also been a ton of bug fixes in all kinds of areas, improved screens
        when you receive and error, whenever you do get an error on the site, 9/10 times
        I get a Discord notification and will usually fix it on the fly. Some errors are
        not sent to me (login failures, 404 pages, etc), but most are! If you keep getting
        an error and it isn't being fixed, be sure to bug me on Discord :)
    </p>

    <p>
        Over this week and next week I will be focusing on:
    </p>

    <ul>
        <li>Mobile styles</li>
        <li>Site performance and scaling backend stuff</li>
        <li>Patreon "friend benefit" features</li>
        <li>Get the site translated (not just game-content)</li>
    </ul>

    <p>
        I have setup a <a href="https://trello.com/b/wJq33Ily/xivapi-mogboard" target="_blank">Trello</a>, I
        originally planned to pause work in June to focus on XIVAPI but with how my work schedule is
        going I will likely be working on both in June and then shifting focus on XIVAPI by the end
        of June to prepare for the Expansion.
    </p>

    <p>
        <strong class="text-highlight">Note regarding the Expansion</strong>: I may have to "pause" the site
        during the expansion launch. It seems whenever SE have server issues, I receive account bans... so
        right now I am thinking for the first week I may pause my auto-updating of prices, Manual updates
        will still be possible, but nothing will "Auto-Update". This is not set in stone, but I thought
        it important to pre-warn!
    </p>

    <p>
        I hope you all have a great week, and I'll post an update this weekend for the new stuff going out!
    </p>

    <hr>

    <div class="news-note">
        <h4 class="text-red">Discontinued Features</h4>
        <p>
            <strong class="text-red">Features not currently being implemented on the home page at this time.</strong>
        </p>
        <p>
            My original plan was to also include a couple more features however these are being
            postponed indefinitely <i>for now</i> and here are the reasons:
        </p>
        <ul>
            <li>
                <strong class="text-blue">Retainer Sales</strong> - At this time due to the way the Companion API
                works, there is no way to link a Purchase History to a Retainer sale. There are no unique ID's and
                not even the retainer info is visible in the Purchase history. What you see in-game is what is
                available on the API...
            </li>
            <li >
                <strong class="text-blue">Character Purchase History</strong> - I build this page and everything
                was going well... However I soon came to realise 2 major flaws with the Companion API:
                <ol>
                    <li>
                        If you purchase an item on another server, there is no way to know if that was you or
                        someone else. For example: "Tony Stark" is on the server "Lich", and "Tony Stark" from the
                        server "Phoenix" world-visits over. There are now 2 "Tony Stark" characters on the
                        server "Lich", when "Tony Stark" buys an item, who was it? (like one of those school
                        exam questions...), the answer is: Who knows. There is 0 way to know and if you view
                        the item transaction history in-game, every name you see you will never know if that
                        character is on your server or not...
                    </li>
                    <li>
                        Which leads issue #2, character ownership. Say I go to "Lich" and buy a bunch of
                        items. However Steve comes along and makes "Premium Virtue" on "Lich", he now
                        owns that character, not me as I didn't make a character on Lich, my character
                        is on Phoenix... So... He can in theory view my entire purchase history? Since
                        I can only go off "Name+Server" then there is no garauntee to know if its my
                        purchases or Steve's purchases... Concerning.
                    </li>
                </ol>
            </li>
        </ul>
    </div>

    <br><br>

{% endblock %}
