{% extends 'News/news.html.twig' %}
{% set title = 'Homepage, retainer and list changes + player privacy adjustments' %}
{% set description = 'Today brings new changes to the home page, retainers and lists + adjustments to players privacy' %}

{% block news %}

    <h3>Item Updating + Mini FAQ!</h3>
    <small><strong>Posted:</strong> Monday 17 June, 2019</small>

    <br>

    <p>
        Hello everyone. For June I have been mostly working on XIVAPI. There are some big changes over there
        that will greatly help Mogboard and they are very overdue, so it seems like not much has been
        going on at the ol' mogboard.
    </p>

    <p>
        I have been noticed a few enquiries about certain systems of mogboard as well as problems with items
        being very out of date. I thought I would post this update to help shed some light on this.
    </p>

    <br><br>

    <h4 class="text-green">Item Update Improvements</h4>

    <p>
        I have discovered 2 issues that have caused some items to get stuck "out of date" for days. These are:
    </p>
    <ul>
        <li>The item's queue position was randomly reset every 6 hours due to its sales frequency changing.</li>
        <li>Whenever the Companion API returns an error, the system would stop all items in the queue and flag the mas "updated", however they were not as no data had been downloaded.</li>
    </ul>

    <p>
        I've put in fixes to hopefully improve both of these situations. The 1st one is a very easy fix, the error one is more tricky. It could be as simple as "keep retrying" but then you
        run the risk of getting stuck in a loop trying to update the same set of items... This shouldn't happen, but there have been bizarre situations with the Companion API. The system
        will now retry failed items and I will keep monitoring this and hopefully it improves.
    </p>

    <p>
        In addition, I am increasing the amount of queries I do to the companion app as well as re-distributing the items. There were previously 6 queues ranging from 1 hour to 48 hours
        sale-frequency. It is now distributed out to 15 queues, with lower numbers being more "tight" (1hr, 2hr, 3hr, 4hr etc). The goal of this is to try keep those fast-selling items
        updated more frequently.
    </p>

    <p>
        Changes like this can take days to see if they pay off, so please be patient! Thank you.
    </p>

    <br><hr><br>

    <h4 class="text-green">Quick FAQ</h4>

    <p>
        <strong class="text-yellow">Can we see prices for items sold by vendors?</strong><br>
        This has been asked frequently. At this time there are no plans, I will be revisiting this AFTER ShadowBringers. The reason these
        items are not tracked is purely to reduce the amount of items that need updating. Due to Square-Enix waving the ban hammer
        around like it's a kite in a storm I have to cherry pick what I can update. These items unfortunately are not top-priority.
    </p>
    <p>
        <strong class="text-yellow">>I've added my retainer but I don't see items I am selling?</strong><br>
        Have the items you're selling update recently? If you're a patron user you could update them manually to see if they appear,
        if you are selling an item which is not tracked it will never appear.
    </p>
    <p>
        <strong class="text-yellow">>When is Japan coming?</strong><br>
        I will revisit this after ShadowBringers. Along with the increase in item-updates (2x the current volume) it also
        means running 2x the accounts I have now... So there is a cost and a risk to this...
    </p>
    <p>
        <strong class="text-yellow">>I've created an alert but I'm not receiving discord messages?</strong><br>
        You must be in a server with the bot: Ser Aymeric. You can join any that use it, the Mogboard discord has it so
        if you join just for that purpose it should work.
    </p>
    <p>
        <strong class="text-yellow">>Why are some items always very out dated?</strong><br>
        An items update cycle is based on it's sale frequency over the last 200 history (more than what Mogboard shows).
        If on average the item sells every 3 days over the last 200 sales then it will be put into a queue that aims
        to update at that speed. This is an on-going process to monitor and tweak...
    </p>
    <p>
        <strong class="text-yellow">>Can you add sales history to my retainer?</strong><br>
        Sadly, at this time it isn't really possible. The information included with a purchase is extremely minimal and
        there is no way to know it was your item that sold other than "best guess", if you take an item off the market
        or the item expires but 1 sells around the same time, it's going to cause incorrect items to be logged.
    </p>
    <p>
        <strong class="text-yellow">>Can we get better graphs?</strong><br>
        Yes, I will be adding High-Charts with the full sales history (rather than just 50). This will allow you to
        see purchases better over a time period. I am looking into ways to provide this as a customisation page.
    </p>
    <p>
        <strong class="text-yellow">>I want to send you a message!</strong><br>
        You can message me on Discord at anytime, or you can use the <a href="https://mogboard.com/feedback">Feedback page</a>.
        Please be mindful of your language, anything rude will just be ignored. This site is a passion project by 1 person...
    </p>

    <br><br>

{% endblock %}
