{% extends 'base.html.twig' %}
{% set title = 'Manual updating for patrons, DPS Perks' %}

{% block body %}

    <h3>Alerts Active, Manual Updating for Patrons, DPS Perks!</h3>
    <small><strong>Posted:</strong> Sunday 5th May, 2019</small>
    <br>

    <h4 class="text-green">Manual Update added for all Patreon Users.</h4>
    <img class="mog-news-img" src="https://c10.patreonusercontent.com/3/eyJwIjoxfQ%3D%3D/patreon-media/p/post/26599362/acbe835c1e7a4807a714d2b1834234a7/1.png?token-time=1558224000&token-hash=14tTHi6MVSlSaxaGHB9lNEPBLAK_8-NZST6AiJ4O7Wk%3D">
    <p>
        Near where "List / Favourite" is you will see a Manual Update button. Click this and your item will be
        bumped to the front of its update queue. Give it about 5 or so minutes to update and the prices+history
        should update on all servers in your Data-Center!
    </p>
    <p>
        You can do a maximum of Five manual requests
        with a 1 hour cooldown, this is just to reduce spam. If the item you are trying to update was
        requested by another member, it will not use your quota. If the item was updated recently it will
        not manually update or use your quota. This feature will be pushed out to all members in a future
        update, at this time I am still monitoring queues and taking things slowly.
    </p>
    <p class="mog-note">
        Minor Note: You cannot manually update an item which has no Auto-Update Queue at this time. This will
        be possible in a future update as confidence in the Auto-Update system improves since the Ban incident.
    </p>

    <br><br>
    <strong>DPS Perk - Private Mogboard Alert Watcher.</strong><br>
    <img class="mog-news-img" src="https://c10.patreonusercontent.com/3/eyJwIjoxfQ%3D%3D/patreon-media/p/post/26599362/917c6406f6be4eb1b7dd9dfa0b7a9d71/1.png?token-time=1558224000&token-hash=U_1ME_SCZmnEjve7-EcVwZE_X8DXwhE-ayskGujsIbU%3D">
    <p>
        As a top tier patron you can have your alerts automatically request that items be updated if it
        notices them getting out of date. However some items you may not care too much about wanting to
        keep an exact up to date time, maybe the Auto-Updater is fine!
    </p>
    <p>
        You can now choose when creating/editing your alerts if you want it to keep the item up to date.
        Please carefully think if its worth it to you to have items update all the time as Patrons share
        update queues, this is a trust feature! I have a couple alerts where I am just waiting for the price
        to drop below a threshold so I know when its affordable, but I'm in no rush because the item is in
        the hundreds of thousands and sells rarely, by time it drops it isn't going back up :) so I don't
        need fast up to date prices.
    </p>

    <br><br>
    <h4 class="text-green">Misc Changes:</h4>
    <ul>
        <li>Lists now work on mobile + done a couple other mobile fixes.</li>
        <li>
            Search tweaked to be a bit more responsive, you now need to press "Enter" to search and
            it'll display when its search rather than being silent. This is also to reduce query spam
            for mobile users.
        </li>
        <li>
            The alert system is back in action, please re-create any alerts you had :)
        </li>
        <li>
            Items which are updating slowly or not at all are not on the Cross-World view as it
            causes inaccurate information. Their server pages will be more obvious now as to the issue.
        </li>
    </ul>

    <br><br>
    <h4 class="text-green">Coming soon: Friends With Benefits perks!</h4>
    <p>
        There will be a new section added to the Account pages which will list all your in-game friends for
        any characters you've added to the site (as long as they're public on Lodestone). You can then pick
        and choose which friends you want to get Benefit Perks on the site and XIVAPI.
    </p>
    <p>
        Once that friend joins Mogboard and verifies their character, they wil automatically receive the
        Benefits Patreon Tier and can enjoy those extra perks on your behalf :)
    </p>
    <p>
        To get a head start on this, go to
        <a href="https://na.finalfantasyxiv.com/lodestone/my/setting/account/">Lodestone Account Manager</a>
        and for friends make sure they're public. Then click on Confirm, this will allow XIVAPI to parse
        your friends list and display it on Mogboard.
    </p>

    <br><br>
    <h4 class="text-green">Improvements to Auto-Update Information</h4>
    <p>
        This will now give a better indication of when an item will update. It shows the last updated time,
        as well as the Auto-Update Queue it is in (there are 5 different queues), and it will give a rough
        ETA of when the item will next update.
    </p>

    <p>
        If you mouse over this, it provides an extra piece which shows the current update duration of that
        queue. So in the above pitcure this item is in Queue 2 which is the "Sells on Avg every 3 hours or
        less, hence the < 3 hour Queue". It was updated over 1 hour ago, so it's ETA is 1 hour from now,
        the hover bit shows that the timing of this Queue is at 2 hours 58 minutes which is less than the
        target of 3 hours so the queue is updating On-Time.
    </p>

    <p>
        Queues are monitored every day and checked for accuracy by the system every hour, depending on game
        server stability, player congestion or login failures this can fluctuate these times but the goal is
        to get them as close as possible to the target update time.
    </p>

    <p>
        The current Auto-Update queues are: (Queues are named based on Sale Frequency)
    </p>

    <ul>
        <li>1: < 1 hour</li>
        <li>2: < 3 hours</li>
        <li>3: < 12 hours</li>
        <li>4: < 24 hours</li>
        <li>5: < 48 hours</li>
    </ul>

    <p>
        All are currently performing on-time as expected. Slight tweaking will be applied to include
        more items such as those that are outside the 48 hour range.
    </p>

    <p>
        Thank you all for using Mogboard, and if you have any feedback please post to the
        <a href="{{ path('feedback') }}">Feedback Page</a>. I read all these and
        planning to organise them on my trello.
    </p>

    <h3>Wild FAQ:</h3>

    <ul>
        <li>
            <strong class="text-blue">Does the number of people using Mogboard risk accounts?</strong><br>
            No. (Unless SE is jealous), there is no way to tie the site to the accounts I use. The site
            does not directly interact with companion outside of Retainer Verification. All prices and
            history you see on the site is pulled from a service called ElasticSearch which is updated
            continuously in the background by a team of speed Moogles.
        </li>
        <li>
            <strong class="text-blue">How come some items are not updating?</strong><br>
            There are 9500 items on the market board. For 66 server this is 627,000 items to manage,
            each item take at minimum 4 requests for Prices+History so now we're already at
            over 2.5 million requests... This kind of scale is what can cause the accounts Mogboard
            uses to get banned. To combat this, a lot of items have been removed from the system, this
            is a temporary solution as there is no way to know what is "too much" when quering Companion.
        </li>
        <li>
            <strong class="text-blue">Do you run bots in-game?</strong><br>
            No. Mogboard does not use the game in anyway, it doesn't even have to be installed. Mogboard
            gets its data from the official companion app
            <a href="https://eu.finalfantasyxiv.com/companion/">which you can now download here!</a>
        </li>
        <li>
            <strong class="text-blue">Does using the companion app help you?</strong><br>
            Yes. Use it from time to time please :)
        </li>
        <li>
            <strong class="text-blue">So do you run Android emulators or something?</strong><br>
            No. Companion interacts with an API SE host on their servers. I bypass the app and scrape
            this API directly, I use legitimate accounts, that are fully paid for thanks to Patron funds.
        </li>
    </ul>

    <p>
        If you have any questions, drop into the Discord and ask away :)
    </p>

{% endblock %}
