{% extends 'News/news.html.twig' %}
{% set title = 'Retainer, Character page changes + Privacy changes' %}

{% block news %}

    <h3>Retainer, Character page changes + Privacy changes</h3>
    <small><strong>Posted:</strong> Sunday 19th May, 2019</small>

    <br>




{% endblock %}
