{% extends 'base.html.twig' %}
{% set title = 'News' %}

{% block body %}
    <div class="page">
        <div class="mogboard-news">
            <h6>news</h6>
        </div>
        <div class="mog-news">
            <div class="flex">
                <div class="flex_10">
                    <img src="https://img2.finalfantasyxiv.com/f/73cbde3df508fa147006c64859727aae_5047bc596a4bab2dc7f7c120bb22dec5fc0_96x96.jpg?1560809219" class="mog-news-avatar">
                </div>
                <div class="flex_90 mog-news-post">
                    {% block news %}{% endblock %}
                    <p>
                        - Thank you, <em>Universalis developers</em>
                    </p>
                </div>
            </div>
            <br><br>
        </div>
    </div>
{% endblock %}
