{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-retainer">
        <h1>{{ character.name }}</h1>
        <small>{{ character.server }}</small>

        <div class="page-retainer-store">
            Stuff
        </div>
    </div>
{% endblock %}
