{% extends 'base.html.twig' %}
{% set title = 'Login Failure' %}

{% block body %}
    <div class="account" style="padding: 50px;">
        <div class="tac">
            <h2>Login Failed</h2>
            <p>
                Really sorry! Something went wrong during the login process, if you keep having
                this issue be sure to jump on Discord and poke Vekien :)
            </p>
        </div>
    </div>
{% endblock %}
