<em>Premium Virtue (Phoenix)</em>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
Discord: <em>Vekien#3458</em>
<br>
<small>
    Release: v{{ siteVersion().version ?: '0' }} - {{ siteVersion().time }} - Timezone: {{ timezone() }}
    <br>
    ALL FINAL FANTASY XIV CONTENT IS PROPERTY OF SQUARE ENIX CO., LTD
</small>
<br>
<small>
    Twitter: <a href="https://twitter.com/viion" target="_blank">Viion</a> - <a href="mailto:josh@viion.co.uk">Contact</a>
</small>
