<small>
    <div>
        Universalis v{{ siteVersion().version ?: '0' }}({{siteVersion().hash_min}}), based on Mogboard v2.2
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a class="btn-menu" href="{{ path('about') }}">About</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a class="btn-menu" href="https://github.com/karashiiro/Universalis">GitHub</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a class="btn-menu" href="https://discord.gg/JcMvMxD">Discord</a>
    </div>
    <div>
        FINAL FANTASY XIV © 2010 - 2019 SQUARE ENIX CO., LTD. All Rights Reserved.
    </div>
</small>
