<small>
    <div>
        Mogboard v{{ siteVersion().version ?: '0' }}
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <em>Premium Virtue (Phoenix)</em>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        Discord: <em>Vekien#3458</em>
    </div>
    <div>
        FINAL FANTASY XIV © 2010 - 2019 SQUARE ENIX CO., LTD. All Rights Reserved.
    </div>
</small>
