Premium Virtue (Phoenix)
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
Discord: Vekien#3458
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
Twitter: <a href="https://twitter.com/viion">Viion</a>
<br>
<small>
    v{{ siteVersion().version }} - {{ siteVersion().time }}
    &nbsp;-&nbsp;
    ALL FINAL FANTASY XIV CONTENT IS PROPERTY OF SQUARE ENIX CO., LTD
</small>
