<em>Premium Virtue (Phoenix)</em>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
Discord: <em>Vekien#3458</em>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
Twitter: <a href="https://twitter.com/viion" target="_blank">Viion</a>
<br>
<small>
    v{{ siteVersion().version }} - {{ siteVersion().time }}
    &nbsp;-&nbsp;
    ALL FINAL FANTASY XIV CONTENT IS PROPERTY OF SQUARE ENIX CO., LTD
</small>
