{% set itemSearchCategories = cache.get('mog_ItemSearchCategories') %}

<header>
    <div>
        <div>
            <a href="{{ path('index') }}" class="btn-home">
                <img src="/i/mog/mog.png" height="74">
            </a>
        </div>
        <div>
            <input type="text" class="search" placeholder="Search for something awesome">
        </div>
        <div>
            <nav class="form">
                <button class="btn-market-board">
                    <span class="icon-Market"></span>
                    Market Board
                </button>
            </nav>
        </div>
    </div>
    <div>
        <div>
            <span class="username">
                Vekien
            </span>
        </div>
        <div>
            <img class="img-avatar" src="https://img2.finalfantasyxiv.com/f/73cbde3df508fa147006c64859727aae_5047bc596a4bab2dc7f7c120bb22dec5fc0_96x96.jpg?1548198308" height="50">
        </div>
        <div>
            <button class="btn-settings"><span class="icon-app_drawer_setting"></span></button>
        </div>
    </div>
</header>
