<header>
    <div>
        <div>
            <a href="{{ path('home') }}" class="btn-home">
                <img src="/i/mog/mog.png" height="74">
            </a>
        </div>
        <div>
            <input type="text" class="search" placeholder="Search for something awesome">
        </div>
        <div>
            <nav class="form">
                <button class="btn-market-board">
                    <span class="xiv-Market"></span>
                    Market Board
                </button>
            </nav>
        </div>
    </div>
    <div>
        {% if auth.online() %}
        <div>
            <span class="username">{{ auth.user.username|title }}</span>
        </div>
        <div>
            <img class="img-avatar" src="{{ auth.user.avatar }}" height="50">
        </div>
        {% else %}
            <a href="{{ path('user_login_discord') }}" class="btn-login">Login via Discord</a>
        {% endif %}

        <div>
            <button class="btn-settings" data-tippy-content="Site Settings"><span class="xiv-app_drawer_setting"></span></button>
        </div>
    </div>
</header>
