{% extends 'base.html.twig' %}

{% block body %}
    <main>

        <div class="home">
            This is a home page, welcome home!
            <br><br><br><br>

            {% if auth.isOnline() %}
                <p>Alerts</p>
                {{ dump(auth.user.alerts|length) }}

                <p>named</p>
                {% for alert in auth.user.alerts %}
                    <br>{{ alert.name }}
                {% endfor %}
            {% endif %}
        </div>

    </main>
{% endblock %}
