{% extends 'base.html.twig' %}

{% block body %}
    <main>

        <div class="home">
            This is a home page, welcome home!
            <br><br><br><br>

            {{ dump(auth.user.alerts|length) }}

            {% for alert in auth.user.alerts %}
                <br>{{ alert.name }}
            {% endfor %}
        </div>

    </main>
{% endblock %}
