{% extends 'base.html.twig' %}

{% block body %}
    <main>

        <div class="home">
            <p>in testing</p><br>
            <a href="{{ path('user_logout') }}" class="logout">Logout</a>
        </div>

    </main>
{% endblock %}
