<a href="{{ path('news_index') }}">Mog News</a>
<a href="https://discord.gg/MFFVHWC" target="_blank">Discord</a>
<a href="https://www.patreon.com/vekien" target="_blank" class="text-red">Patreon</a>
<a href="{{ path('feedback') }}">Feedback</a>
<a href="{{ path('about') }}">About</a>
<a href="{{ path('server_status') }}">Server Status</a>
