{% extends 'base.html.twig' %}

{% block body %}
<div class="theme">
    <div class="theme-logo">
        <img src="/i/brand/mogboard/mogboard_light.svg" height="50">
    </div>

    <div class="theme-box">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
    </div>

    <div class="theme-box">
        <div class="theme-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor est, volutpat quis leo eget,
                dignissim vulputate lorem. Nunc scelerisque mi sed augue sollicitudin feugiat. Suspendisse fringilla dui
                justo. Fusce tellus nunc, rhoncus at cursus quis, convallis vitae justo. Etiam posuere, libero a eleifend
                tincidunt, lacus lorem venenatis nulla, vel pretium augue nisi fermentum ante. Sed vulputate finibus diam
                nec vestibulum. Ut quis eros urna.
            </p>
            <p>
                Duis porttitor magna a mi consequat semper. Nulla venenatis id tortor id sollicitudin. Vestibulum at
                cursus risus. In sit amet porttitor neque. Morbi tristique vehicula neque, ac dictum massa cursus ut.
                Aliquam quis orci mauris. Fusce tellus ex, tincidunt non neque at, bibendum lobortis turpis. Nam luctus
                turpis arcu, non pharetra nunc posuere eu. Proin quis lorem tincidunt, eleifend sem eget, sodales sem.
                Curabitur sit amet molestie lectus, id rhoncus odio. Ut quis lectus urna.
            </p>
        </div>
    </div>

    <div class="theme-box">
        <p>
            <a href="#">Link example</a>
        </p>
    </div>

    <form>
        <div class="theme-box">
            <h1>Buttons</h1>

            <button>Default</button>
            <button class="btn-red">Red Button</button>
            <button class="btn-blue">Blue Button</button>
            <button class="btn-green">Green Button</button>
            <button class="btn-purple">Purple Button</button>
            <button class="btn-white">White Button</button>
            <br><br>
            <button class="btn-red-outline">Red Button</button>
            <button class="btn-blue-outline">Blue Button</button>
            <button class="btn-green-outline">Green Button</button>
            <button class="btn-purple-outline">Purple Button</button>
            <button class="btn-white-outline">White Button</button>
        </div>

        <div class="theme-box">
            <h1>Forms</h1>
            <label>Some Label</label>
            <input type="text" placeholder="Some random text">
            <select>
                <option>Some optionz</option>
            </select>

            <br>

            <div class="checkbox">
                <input type="checkbox" id="checkbox_1">
                <label for="checkbox_1">Cheeky checkbox of checking</label>
            </div>
        </div>
    </form>

    <div class="theme-box">
        <h1>Tables</h1>

        <table class="striped">
            <thead>
            <tr>
                <th>#</th>
                <th width="40%">Column</th>
                <th>Header</th>
                <th>Updated</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Lorem Ipsum</td>
                <td>Yes</td>
                <td>12th December</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem Ipsum</td>
                <td>Yes</td>
                <td>12th December</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem Ipsum</td>
                <td>Yes</td>
                <td>12th December</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem Ipsum</td>
                <td>Yes</td>
                <td>12th December</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="theme-box">
        <h1>Line</h1>
        <hr>
    </div>

    <div class="theme-box">
        <h1>Alerts</h1>
        <div class="alert-red">
            <h1>Alert Title</h1>
            <p>Some very important alert message</p>
        </div>
        <div class="alert-blue">
            <h1>Alert Title</h1>
            <p>Some very important alert message</p>
        </div>
        <div class="alert-green">
            <h1>Alert Title</h1>
            <p>Some very important alert message</p>
        </div>
        <div class="alert-purple">
            <h1>Alert Title</h1>
            <p>Some very important alert message</p>
        </div>
        <div class="alert-white">
            <h1>Alert Title</h1>
            <p>Some very important alert message</p>
        </div>
    </div>

    <div class="theme-box">
        <h1>Badges</h1>
        <span class="badge-red">Red</span>
        <span class="badge-blue">Blue</span>
        <span class="badge-green">Green</span>
        <span class="badge-purple">Purple</span>
        <span class="badge-white">White</span>
    </div>




</div>
{% endblock %}
